@page "/SummaryPage"
@inject ApiConfig _ApiConfig;
@inject HttpClient Http
@using HCMIS.Interface;
@using HCMIS.Data
@using HCMIS.Model
@using System.Text.Json
@using System.Collections;
@using System.IO;
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigation;
@inject SystemSettings _SystemSettings;
@using HCMIS.SHARED.DTOs.BSC;
@using HCMIS.SHARED.DTOs.Utilities;
@using HCMIS.ViewModel;
@inject IToastService toastService;
@inject IAuthenticationService AuthService;

<style>
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
</style>

<table style="width:100%;font-size:20px;  margin-top:10px;">
    @{
        if (TargetSettingTotalData != null)
        {
            var _targetdata = TargetSettingTotalData.FirstOrDefault(o => o.BalanceScoreCardId == BalanceScoreCardId);
            if (_targetdata != null)
            {
                totaltargetsetting = @_targetdata.TotalIndividualTargetObjectiveScore;
            }
        }

        if (BehavioralTotalData != null)
        {
            var _behavioraldata = BehavioralTotalData.FirstOrDefault(o => o.BalanceScoreCardId == BalanceScoreCardId);
            if (_behavioraldata != null)
            {
                totalbehavioral = @_behavioraldata.TotalSupervisorAssessment;
            }
        }
    }
    <tr>
        <td>

        </td>
        <td colspan="2" style="background-color:#ffd966">
            <h6 style="color:black;font-size: 20px;font-weight:bolder;background-color:#ffd966;">Overall 70% Maximum as a Technical Target Score</h6>
        </td>
        <td style="background-color:#ffd966">
            <h6 style="color:black;font-size: 20px;font-weight:bolder;background-color:#ffd966;">70%</h6>
        </td>
        <td>

        </td>
        <td style="background-color:#ffd966">
            <h6 style="color:black;font-size: 20px;font-weight:bolder;background-color:#ffd966;">@totaltargetsetting%</h6>
        </td>
    </tr>

    <tr>
        <td style="color:black;font-size: 20px;font-weight:bolder;">
            Values & Behavioral Competency
        </td>
        <td>
            <h6 style="color:black;font-size: 20px;font-weight:bolder;">30%</h6>
        </td>
        <td>
            <h6 style="font-weight:bolder;font-size: 20px;">Overall 30% Score as NH & CC Values / Behavior Competencies</h6>
        </td>
        <td style="background-color:#ffd966;font-size: 20px;font-weight:bolder;">
            30%
        </td>
        <td>

        </td>
        <td style="background-color:#ffd966">
            <h6 style="color:black;font-size: 20px;font-weight:bolder;background-color:#ffd966;">@totalbehavioral%</h6>
            
        </td>
    </tr>

    <tr>
        <td>
            
        </td>
        <td>
            
        </td>
        <td style="background-color:#ffd966;font-size: 20px;font-weight:bolder;">
            <h6 style="font-weight:bolder;background-color:#ffd966;">OVERALL SCORE 100% ( TECHNICAL 70%  + VALUES /  BEHAVIOUR 30%)</h6>
        </td>
        <td style="background-color:#ffd966;font-weight:bolder">
            100%
        </td>
        <td>
        </td>
        <td style="background-color:#ffd966">            
            <h6 style="color:black;font-size: 20px;font-weight:bolder;background-color:#ffd966;">@(totaltargetsetting + totalbehavioral)%</h6>
        </td>
    </tr>
</table>

<table style="width:100%;font-size:20px; margin-top:2px;">
    <tr style="font-weight:bolder;">
        <td>

        </td>
        <td style="background-color:#ffd966;font-size: 20px;font-weight:bolder;">
            OVERALL RATING ( TECHNICAL + VALUES /  BEHAVIOUR)
        </td>
        <td style="background-color:#ffd966;">
            <h6 style="color:black;font-size: 20px;font-weight:bolder;background-color:#ffd966;">@(totaltargetsetting + totalbehavioral)%</h6>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td colspan="6" style="background-color:#a9d08e;color:black; text-align:center;font-size: 20px;font-weight:bolder;">
            @{
                double? performancevalue = 0;
                performancevalue = @totaltargetsetting + @totalbehavioral;

                if (performancevalue != 0)
                {
                    foreach (var n in ScaleData)
                    {
                        if ((performancevalue >= n.MinimumMark && performancevalue <= n.MaximumMark) && !string.IsNullOrEmpty(n.PerformanceDescription))
                        {
                            <h6 style="background-color:#a9d08e;color:black; text-align:center;font-size: 20px;font-weight:bolder;">@n.PerformanceDescription.ToUpper()</h6>
                        }
                    }
                }
                else
                {
                    <h6 style="background-color:#e67e22;color:ghostwhite; text-align:center;font-size: 20px;font-weight:bolder;">NOT YET APPRAISED</h6>
                }

                
            }
            
        </td>
    </tr>
</table>

<table style="width:100%;font-size:20px; margin-top:2px;">
    
    @if (ScaleData != null)
    {
        
        <tr style="font-weight:bolder;">
            <td rowspan="2">
                <h6>
                    Please note the Overall Assessment
                    is derived from the "Performance Descriptors"
                    below in relation to the Appraise Performance Achievement
                </h6>
            </td>
            @for (int i = 0; i <= (ScaleData.Count - 1); i++)
            {
                <td>@ScaleData[i].PerformanceDescription</td>
            }
        </tr>
        <tr>            
            @for (int i = 0; i <= (ScaleData.Count - 1); i++)
            {                
                <td>@ScaleData[i].MinimumMark% - @ScaleData[i].MaximumMark%</td>
            }
        </tr>
    }
    
    @if (PerformanceDescriptorData != null)
    {
        <tr style="font-weight:bolder;">
            <td rowspan="2">
                <h6>
                    Please note each Value / Behavior  Assessment
                    is derived from the "Performance Descriptors"
                    selected from the Drop Down provided
                </h6>
            </td>
            <td></td>
            @for (int i = 0; i <= (PerformanceDescriptorData.Count - 1); i++)
            {
                <td>@PerformanceDescriptorData[i].PerformanceDescriptor</td>
            }
        </tr>
        <tr>
            <td></td>
            @for (int i = 0; i <= (PerformanceDescriptorData.Count - 1); i++)
            {
                <td>@PerformanceDescriptorData[i].PerformanceScore%</td>
            }
        </tr>
    }

</table>

@code {
    LoginResultModel? Credentials { get; set; }
    [Parameter]
    public List<APerformanceScaleDto>? ScaleData { get; set; }
    [Parameter]
    public List<PerformanceDescriptorDto>? PerformanceDescriptorData { get; set; }
    [Parameter]
    public List<ViewTargetSettingTotalsDto>? TargetSettingTotalData { get; set; }
    [Parameter]
    public List<ViewBehavioralTotalsDto>? BehavioralTotalData { get; set; }
    JsonSerializerOptions _options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
    [Parameter]
    public int BalanceScoreCardId { get; set; }
    double? totaltargetsetting = 0;
    double? totalbehavioral = 0;    
}
