@page "/ForgotPasswordPage"
@inject NavigationManager NavManager;
@inject IToastService toastService;
@using HCMIS.Interface;
@using HCMIS.SHARED.DTOs;
@inject IAuthenticationService AuthService;
@*<h3>ForgotPasswordPage</h3>*@

<style>
    body {
        margin: 0px;
        padding: 0px;
        background: url(/image/nhcc1.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -68px;
        height: 100%;
        background-color: #000 !important;
        font-family: 'Roboto', 'Roboto Condensed' !important;
        width: 100%;
        overflow-x: hidden !important;
    }

    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        /*width:40%;*/
    }

    h3 {
        color: #ffc107;
        font-family: 'Roboto', 'Roboto Condensed' !important;
    }

    p {
        word-wrap: break-word;
    }

    .page[b-rutikf73sn] {
        position: relative;
        display: block;
    }
</style>

<EditForm Model="@model" class="center-screen" OnValidSubmit="@ResetPasswordClick">
    <div style="width:35%;">
        <h3>Forgot Password</h3>
        <p style="color:ghostwhite">When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
        <input type="email" placeholder="email address" @bind-value="@model.EmailAddress" style="margin-bottom:10px; width:100%;height: 48px; padding:10px;" />
        <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 15px;">Reset Password</button>
        <p style="color:ghostwhite" class="text-center">Already have an account? <a data-toggle="tab" href="#" @onclick="@BackToLoginClick" style="color:ghostwhite">Login Here</a></p>
    </div>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>


    <SfDialog @ref="@LoadingDialogue"
              ID="LoadingDialog"
              Height="auto"
              Width="20%"
              AllowDragging="true"
              Target=".mainbody"
              ShowCloseIcon="false"
              IsModal=true
              Visible="false">
        <DialogTemplates>
            <Content>
                <div style="padding:25px">
                    <div class="loader">
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        @*<div class="loader-Loading-text"></div>*@
                        @*<div class="loader-Saving-text"></div>*@
                        <div class="loader-Resetting-text"></div>
                    </div>
                </div>
            </Content>
            <FooterTemplate>

            </FooterTemplate>
        </DialogTemplates>
    </SfDialog>

@code 
{
    SfDialog? LoadingDialogue;
    ResetPasswordDTO model { get; set; } = new ResetPasswordDTO();
    private void BackToLoginClick()
    {
        NavManager.NavigateTo("/LoginPage", true);
    }
    private async Task ResetPasswordClick()
    {
        try
        {
            await LoadingDialogue.ShowAsync();
            await AuthService.InitialisePasswordReset(model);
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
        finally
        {
            await LoadingDialogue.HideAsync();
            StateHasChanged();
        }
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        model.BaseUrl = NavManager.BaseUri;
    }
}
