@page "/LeaveRequestReportByDepartmentPage"
@using HCMIS.Data;
@using HCMIS.Model;
@using HCMIS.SHARED.Data;
@using HCMIS.Interface;
@inject ApiConfig _ApiConfig;
@inject HttpClient Http
@inject NavigationManager Navigation
@inject SystemSettings _SystemSettings
@inject IAuthenticationService AuthService;
@using HCMIS.SHARED.Models;
@using Syncfusion.XlsIO;
@using System.Text.Json;
@inject IReportService reportservice;
@inject IToastService toastService;
@inject Microsoft.JSInterop.IJSRuntime JS;
@inject IUtilityRepository UtilityRepo;

<style>
    .e-spinner-pane .e-spinner-inner .e-spin-bootstrap4 {
        stroke: green;
    }
</style>

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="color: brown;">
        <strong>
            <img src="/Image/logonhcc.png" width="40" height="25" /> HCMIS
        </strong>| LEAVE REQUEST REPORT - BY DEPARTMENT
    </li>
</ol>

<EditForm Model="@InputModel" OnValidSubmit="@OnSearchSubmit">
    <DataAnnotationsValidator/>
    <div class="row" style="margin-bottom:10px;">

        <div class="col col-md-3">
            <p>Employee</p>
            <SfMultiSelect @bind-Value="@InputModel.Employeeid" TValue="int?[]" 
            TItem="ViewEmployeeDropDown" AllowFiltering="true" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" 
            Mode="@VisualMode.CheckBox" DataSource="@EmployeeData" ShowSelectAll="true" EnableSelectionOrder="true" 
            ShowDropDownIcon="true" FilterBarPlaceholder="Employee" FloatLabelType="FloatLabelType.Never" PopupHeight="350px" Enabled="EmployeeDD">
                <MultiSelectFieldSettings Value="@nameof(ViewEmployeeDropDown.Employeeid)" Text="@nameof(ViewEmployeeDropDown.EmployeeDetails)"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>

        @*<div class="col col-md-3">
            <p>Gender</p>
            <SfMultiSelect @bind-Value="@InputModel.GenderId" TValue="int?[]" TItem="AGender" AllowFiltering="true" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" Mode="@VisualMode.CheckBox" DataSource="@GenderData" ShowSelectAll="true" EnableSelectionOrder="true" ShowDropDownIcon="true" FilterBarPlaceholder="Gender" FloatLabelType="FloatLabelType.Always" PopupHeight="350px">
                <MultiSelectFieldSettings Value="@nameof(AGender.GenderId)" Text="@nameof(AGender.GenderDesc)"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>*@
        <div class="col col-md-3">
            <p>Leave Type</p>
            <SfMultiSelect @bind-Value="@InputModel.LeaveTypeId" TValue="int?[]" TItem="ALeaveType" AllowFiltering="true" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" Mode="@VisualMode.CheckBox" DataSource="@LeaveTypeData" ShowSelectAll="true" EnableSelectionOrder="true" ShowDropDownIcon="true" FilterBarPlaceholder="Leave Type" FloatLabelType="FloatLabelType.Never" PopupHeight="350px">
                <MultiSelectFieldSettings Value="@nameof(ALeaveType.LeaveTypeId)" Text="@nameof(ALeaveType.LeaveTypeDescription)"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>
        <div class="col col-md-3">
            <p>Department</p>
            <SfMultiSelect @bind-Value="@InputModel.DepartmentId" TValue="int?[]" TItem="ADepartment" AllowFiltering="true" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" Mode="@VisualMode.CheckBox" DataSource="@DepartmentData" ShowSelectAll="true" EnableSelectionOrder="true" ShowDropDownIcon="true" FilterBarPlaceholder="Department" FloatLabelType="FloatLabelType.Never" PopupHeight="350px" Enabled="DepartmentDD">
                <MultiSelectFieldSettings Value="@nameof(ADepartment.DepartmentId)" Text="@nameof(ADepartment.DepartmentDescription)"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>
        <div class="col col-md-3">
            <p>Job Title</p>
            <SfMultiSelect @bind-Value="@InputModel.JobTitleId" TValue="int?[]" TItem="AJobTitle" AllowFiltering="true" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" Mode="@VisualMode.CheckBox" DataSource="@JobTitleData" ShowSelectAll="true" EnableSelectionOrder="true" ShowDropDownIcon="true" FilterBarPlaceholder="Job Title" FloatLabelType="FloatLabelType.Never" PopupHeight="350px" Enabled="JobTitleDD">
                <MultiSelectFieldSettings Value="@nameof(AJobTitle.JobTitleId)" Text="@nameof(AJobTitle.JobTitleDescription)"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>

        <div class="col-md-4">
            <p>Commencement Date Range</p>
            <div class="row">
                <div class="col-md-4">
                    <SfDatePicker @bind-Value="@(InputModel.StartDate)" Enabled="true" Placeholder="Start Date" FloatLabelType="FloatLabelType.Never"></SfDatePicker>
                </div>
                <div class="col-md-4">
                    <SfDatePicker @bind-Value="@(InputModel.EndDate)" Enabled="true" Placeholder="End Date" FloatLabelType="FloatLabelType.Never"></SfDatePicker>
                </div>
            </div>
        </div>
        @if (Downloadreport == false)
        {
            <div class="col col-md-12" style="margin-top:10px;">
                <button @onclick="@OnSearchSubmit" class="btn btn-success" data-ripple="true" style="margin-right:10px;">Download Report</button>
                <button @onclick="@ClearSearchBtnClick" class="btn btn-danger" data-ripple="true" style="margin-right:10px;">Clear Search</button>
            </div>
        }

        <div class="form-group col-md-12">
            <SfSpinner @ref="DownloadingSpinner" Label="Downloading Report Please Wait....." Size="50"></SfSpinner>
        </div>

        @if (!string.IsNullOrEmpty(InputModel.Response))
        {
            <div class="col col-md-12" style="margin-top:10px;">
                <div class="alert alert-success">@InputModel.Response</div>
            </div>
        }
    </div>
    <ValidationSummary />
</EditForm>


@code {
    private UtilitiesSearchPanel InputModel = new UtilitiesSearchPanel();
    SfSpinner? DownloadingSpinner;
    bool Downloadreport { get; set; } = false;
    string? filename { get; set; } = null;
    List<ViewEmployeeDropDown>? EmployeeData { get; set; }
    List<AGender>? GenderData { get; set; }
    List<ADepartment>? DepartmentData { get; set; }
    List<AJobTitle>? JobTitleData { get; set; }
    List<ALeaveType>? LeaveTypeData { get; set; }
    List<ALeaveApprovalStatus>? ApprovalStatusData { get; set; }
    private string? NHCCLogo { get; set; }
    private string? NHCCLogoName { get; set; }
    LoginResultModel? Credentials { get; set; }
    JsonSerializerOptions _options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
    public bool EmployeeDD { get; set; }
    public bool DepartmentDD { get; set; }
    public bool JobTitleDD { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var isAuthenticated = await AuthService.CheckAuthenticationStatus();
        if (isAuthenticated == false)
        {
            Navigation.NavigateTo("/LoginPage", true);
        }
        else
        {
            Credentials = await AuthService.GetUserCredentials();

            List<Task> t = new List<Task>();

            t.Add(Task.Run(async () =>
                {
                    var response = await Http.GetAsync($"Utilities/GetEmployeeDD");
                    if (response.IsSuccessStatusCode)
                    {
                        var content = await response.Content.ReadAsStringAsync();
                        EmployeeData = JsonSerializer.Deserialize<List<ViewEmployeeDropDown>>(content, _options);
                    }
                }));

            t.Add(Task.Run(async () =>
            {
                var responsegender = await Http.GetAsync($"Utilities/GetGender");
                if (responsegender.IsSuccessStatusCode)
                {
                    var contentemployeegender = await responsegender.Content.ReadAsStringAsync();
                    GenderData = JsonSerializer.Deserialize<List<AGender>>(contentemployeegender, _options);
                }
            }));

            t.Add(Task.Run(async () =>
            {
                var response = await Http.GetAsync($"Utilities/GetDepartment");
                if (response.IsSuccessStatusCode)
                {
                    var content = await response.Content.ReadAsStringAsync();
                    DepartmentData = JsonSerializer.Deserialize<List<ADepartment>>(content, _options);
                }
            }));

            t.Add(Task.Run(async () =>
           {
               var response = await Http.GetAsync($"Utilities/GetLeaveType");
               if (response.IsSuccessStatusCode)
               {
                   var content = await response.Content.ReadAsStringAsync();
                   LeaveTypeData = JsonSerializer.Deserialize<List<ALeaveType>>(content, _options);
               }
           }));

            t.Add(Task.Run(async () =>
                 {
                     var response = await Http.GetAsync($"Utilities/GetLeaveApprovalStatus");
                     if (response.IsSuccessStatusCode)
                     {
                         var content = await response.Content.ReadAsStringAsync();
                         ApprovalStatusData = JsonSerializer.Deserialize<List<ALeaveApprovalStatus>>(content, _options);
                     }
                 }));

            t.Add(Task.Run(async () =>
                 {
                     var response = await Http.GetAsync($"Utilities/GetJobTitle");
                     if (response.IsSuccessStatusCode)
                     {
                         var content = await response.Content.ReadAsStringAsync();
                         JobTitleData = JsonSerializer.Deserialize<List<AJobTitle>>(content, _options);
                     }
                 }));


            Task _t = Task.WhenAll(t);
            await _t;

            if (Credentials != null && (!string.IsNullOrEmpty(Credentials.UserRole) &&
            Credentials.UserRole.Contains("Administrator") || Credentials.JobTitleId == 44))
            {
                EmployeeDD = true;
            }
            else
            {
                EmployeeDD = false;
                if (Credentials != null)
                {
                    List<int?> _employeeid = new List<int?>();
                    _employeeid.Add(Credentials.StaffId);
                    InputModel.Employeeid = _employeeid.ToArray();
                }
            }
        }
    }

    private async Task OnSearchSubmit()
    {
        filename = null;
        Downloadreport = true;
        await DownloadingSpinner.ShowAsync();

        try
        {
            var data = await reportservice.GetLeaveRequest(InputModel);
            if (data.Count > 0)
            {
                using (ExcelEngine excelEngine = new ExcelEngine())
                {
                    IApplication application = excelEngine.Excel;
                    application.DefaultVersion = ExcelVersion.Excel2013;
                    IWorkbook workbook = application.Workbooks.Create(1);
                    IWorksheet worksheet = workbook.Worksheets[0];
                    worksheet.Name = "Leave Request Report By Department";

                    #region Styles
                    var headerStyle = workbook.Styles.Add("headerStyle");

                    headerStyle.BeginUpdate();
                    headerStyle.Color = Syncfusion.Drawing.Color.Black;
                    headerStyle.VerticalAlignment = ExcelVAlign.VAlignCenter;
                    headerStyle.Font.Bold = true;
                    headerStyle.Font.FontName = "Arial";
                    headerStyle.Font.Size = 8f;
                    headerStyle.Font.Color = ExcelKnownColors.White;

                    headerStyle.HorizontalAlignment = ExcelHAlign.HAlignCenter;
                    headerStyle.Borders.Color = ExcelKnownColors.White;
                    headerStyle.Borders[ExcelBordersIndex.EdgeLeft].LineStyle = ExcelLineStyle.Thin;
                    headerStyle.Borders[ExcelBordersIndex.EdgeRight].LineStyle = ExcelLineStyle.Thin;
                    headerStyle.Borders[ExcelBordersIndex.EdgeTop].LineStyle = ExcelLineStyle.Thin;

                    headerStyle.WrapText = true;

                    headerStyle.EndUpdate();

                    var Style = workbook.Styles.Add("bodyStyle");

                    Style.BeginUpdate();
                    Style.HorizontalAlignment = ExcelHAlign.HAlignLeft;
                    Style.VerticalAlignment = ExcelVAlign.VAlignTop;
                    Style.Font.Bold = false;
                    Style.Font.FontName = "Arial";
                    Style.Font.Size = 8f;
                    Style.Font.Color = ExcelKnownColors.Black;
                    Style.WrapText = true;
                    Style.Borders.Color = ExcelKnownColors.Black;
                    Style.Borders[ExcelBordersIndex.EdgeLeft].LineStyle = ExcelLineStyle.Thin;
                    Style.Borders[ExcelBordersIndex.EdgeRight].LineStyle = ExcelLineStyle.Thin;
                    Style.Borders[ExcelBordersIndex.EdgeTop].LineStyle = ExcelLineStyle.Thin;
                    Style.Borders[ExcelBordersIndex.EdgeBottom].LineStyle = ExcelLineStyle.Thin;
                    Style.EndUpdate();


                    var CategoryStyle = workbook.Styles.Add("CategoryStyle");

                    CategoryStyle.BeginUpdate();
                    CategoryStyle.HorizontalAlignment = ExcelHAlign.HAlignCenter;
                    CategoryStyle.Color = Syncfusion.Drawing.Color.FromArgb(0, 204, 0);
                    CategoryStyle.Font.Bold = true;
                    CategoryStyle.Font.FontName = "Arial";
                    CategoryStyle.Font.Size = 20f;
                    CategoryStyle.Font.Color = ExcelKnownColors.Brown;
                    CategoryStyle.WrapText = true;
                    CategoryStyle.Borders.Color = ExcelKnownColors.White;
                    CategoryStyle.Borders[ExcelBordersIndex.EdgeLeft].LineStyle = ExcelLineStyle.Thin;
                    CategoryStyle.Borders[ExcelBordersIndex.EdgeRight].LineStyle = ExcelLineStyle.Thin;
                    CategoryStyle.Borders[ExcelBordersIndex.EdgeTop].LineStyle = ExcelLineStyle.Thin;
                    CategoryStyle.Borders[ExcelBordersIndex.EdgeBottom].LineStyle = ExcelLineStyle.Thin;
                    CategoryStyle.EndUpdate();

                    var DivisionStyle = workbook.Styles.Add("DivisionStyle");

                    DivisionStyle.BeginUpdate();
                    DivisionStyle.HorizontalAlignment = ExcelHAlign.HAlignCenter;
                    DivisionStyle.Color = Syncfusion.Drawing.Color.FromArgb(255, 0, 0); //RED
                    DivisionStyle.Font.Bold = true;
                    DivisionStyle.Font.FontName = "Arial";
                    DivisionStyle.Font.Size = 8f;
                    DivisionStyle.Font.Color = ExcelKnownColors.White;
                    DivisionStyle.WrapText = true;
                    DivisionStyle.Borders.Color = ExcelKnownColors.White;
                    DivisionStyle.Borders[ExcelBordersIndex.EdgeLeft].LineStyle = ExcelLineStyle.None;
                    DivisionStyle.Borders[ExcelBordersIndex.EdgeRight].LineStyle = ExcelLineStyle.None;
                    DivisionStyle.Borders[ExcelBordersIndex.EdgeTop].LineStyle = ExcelLineStyle.None;
                    DivisionStyle.Borders[ExcelBordersIndex.EdgeBottom].LineStyle = ExcelLineStyle.None;
                    DivisionStyle.EndUpdate();

                    #endregion

                    var _data = data.Select(o => new { o.DepartmentId, o.DepartmentDescription }).ToList().Distinct().ToList();
                    for (var i = 0; i <= (_data.Count - 1); i++)
                    {

                        string Pillarname = "Sheet 1";
                        if (!string.IsNullOrEmpty(_data[i].DepartmentDescription) && _data[i].DepartmentDescription.Contains(":"))
                        {
                            var a = _data[i].DepartmentDescription.Split(":");
                            Pillarname = a[1].Replace("/", ""); ;
                        }
                        else if (!string.IsNullOrEmpty(_data[i].DepartmentDescription))
                        {
                            Pillarname = _data[i].DepartmentDescription.Replace("/", ""); ;
                        }
                        if (i == 0)
                        {
                            worksheet = workbook.Worksheets[0];
                        }
                        else
                        {
                            if (workbook.Worksheets != null)
                            {
                                //Pillarname = $"Sheet {workbook.Worksheets.Count+1}";
                                workbook.Worksheets.Create(Pillarname);
                                worksheet = workbook.Worksheets[i];
                            }
                            else
                            {
                                Pillarname = "Error Sheet";
                            }

                        }
                        var mdata = data.Where(o => o.DepartmentId == _data[i].DepartmentId).ToList();
                        
                        CreateWorkSheet(workbook, worksheet, mdata, Pillarname);

                    }

                    MemoryStream ms = new MemoryStream();
                    // Save and close the document.
                    workbook.SaveAs(ms);
                    //Reset the memory stream position.
                    ms.Position = 0;
                    string _filename = "Leave Request Report By Department.xlsx";
                    filename = _filename;
                    JS.InvokeAsync<object>("saveAsFile", filename, Convert.ToBase64String(ms.ToArray()));
                    ms.Dispose();
                    workbook.Close();
                    Downloadreport = false;
                    InputModel.Response = "Report Downloaded Successfully";
                }
            }
            else
            {
                InputModel.Response = "There were no records found that match the given search parameters";
                Downloadreport = false;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.ToString());
        }
        finally
        {
            await DownloadingSpinner.HideAsync();
            StateHasChanged();
        }
    }

    private void ClearSearchBtnClick()
    {
        InputModel = new UtilitiesSearchPanel();
    }

    private async void CreateWorkSheet(IWorkbook workbook, IWorksheet worksheet, List<ViewEmployeeLeaveReport> data, string name)
    {
        try
        {
            worksheet.Name = name;
            worksheet.Range["A1"].Text = "NHCC";
            worksheet.Range["A1"].CellStyle.Color = Syncfusion.Drawing.Color.FromArgb(157, 206, 92);
            worksheet.Range["A1"].CellStyle.Font.Color = Syncfusion.XlsIO.ExcelKnownColors.White;
            worksheet.Range["A1"].CellStyle.Font.FontName = "cambria";
            worksheet.Range["A1"].CellStyle.Font.Size = 26;
            worksheet.Range["A1"].CellStyle.Font.Bold = true;
            worksheet.Range["A1:O1"].Merge();

            worksheet.Range["A2"].Text = "Leave Request Report - By Department";
            worksheet.Range["A2"].CellStyle.Color = Syncfusion.Drawing.Color.FromArgb(71, 44, 76);
            worksheet.Range["A2"].CellStyle.Font.Color = Syncfusion.XlsIO.ExcelKnownColors.White;
            worksheet.Range["A2"].CellStyle.Font.FontName = "cambria";
            worksheet.Range["A2"].CellStyle.Font.Size = 18;
            worksheet.Range["A2:O2"].Merge();

            int row = 1;

            row++;
            row++;

            int startingRange = row;

            worksheet.Range["B" + row].Text = "Employees on Leave";
            worksheet.Range["B" + row].ColumnWidth = 15;
            worksheet.Range["B" + row].CellStyleName = "headerStyle";

            row++;
            int startrow = row;
            int Endrow = row;

            worksheet.Range["B" + row].Number = data.ToList().Count;
            worksheet.Range["B" + row].CellStyleName = "bodyStyle";

            row = row + 1;

            worksheet.Range[row, 1].Text = "#";
            worksheet.Range[row, 1].CellStyleName = "headerStyle";
            worksheet.Range[row, 1].ColumnWidth = 5;
            worksheet.Range[row, 1].WrapText = true;

            worksheet.Range[row, 2].Text = "Leave Number";
            worksheet.Range[row, 2].CellStyleName = "headerStyle";
            worksheet.Range[row, 2].ColumnWidth = 20;
            worksheet.Range[row, 2].WrapText = true;

            worksheet.Range[row, 3].Text = "Employee";
            worksheet.Range[row, 3].CellStyleName = "headerStyle";
            worksheet.Range[row, 3].ColumnWidth = 20;
            worksheet.Range[row, 3].WrapText = true;

            worksheet.Range[row, 4].Text = "Department";
            worksheet.Range[row, 4].CellStyleName = "headerStyle";
            worksheet.Range[row, 4].ColumnWidth = 20;
            worksheet.Range[row, 4].WrapText = true;

            worksheet.Range[row, 5].Text = "Leave Type";
            worksheet.Range[row, 5].CellStyleName = "headerStyle";
            worksheet.Range[row, 5].ColumnWidth = 20;
            worksheet.Range[row, 5].WrapText = true;

            worksheet.Range[row, 6].Text = "Commencement Date";
            worksheet.Range[row, 6].CellStyleName = "headerStyle";
            worksheet.Range[row, 6].ColumnWidth = 20;
            worksheet.Range[row, 6].WrapText = true;

            worksheet.Range[row, 7].Text = "End Date";
            worksheet.Range[row, 7].CellStyleName = "headerStyle";
            worksheet.Range[row, 7].ColumnWidth = 20;
            worksheet.Range[row, 7].WrapText = true;

            worksheet.Range[row, 8].Text = "Total Days Taken";
            worksheet.Range[row, 8].CellStyleName = "headerStyle";
            worksheet.Range[row, 8].ColumnWidth = 20;
            worksheet.Range[row, 8].WrapText = true;

            worksheet.Range[row, 9].Text = "Supervisor";
            worksheet.Range[row, 9].CellStyleName = "headerStyle";
            worksheet.Range[row, 9].ColumnWidth = 20;
            worksheet.Range[row, 9].WrapText = true;

            worksheet.Range[row, 10].Text = "Supervisor Approval Date";
            worksheet.Range[row, 10].CellStyleName = "headerStyle";
            worksheet.Range[row, 10].ColumnWidth = 20;
            worksheet.Range[row, 10].WrapText = true;

            worksheet.Range[row, 11].Text = "Head of Department";
            worksheet.Range[row, 11].CellStyleName = "headerStyle";
            worksheet.Range[row, 11].ColumnWidth = 20;
            worksheet.Range[row, 11].WrapText = true;

            worksheet.Range[row, 12].Text = "HOD Approval Date";
            worksheet.Range[row, 12].CellStyleName = "headerStyle";
            worksheet.Range[row, 12].ColumnWidth = 20;
            worksheet.Range[row, 12].WrapText = true;

            worksheet.Range[row, 13].Text = "CHRO";
            worksheet.Range[row, 13].CellStyleName = "headerStyle";
            worksheet.Range[row, 13].ColumnWidth = 20;
            worksheet.Range[row, 13].WrapText = true;

            worksheet.Range[row, 14].Text = "Approval Date";
            worksheet.Range[row, 14].CellStyleName = "headerStyle";
            worksheet.Range[row, 14].ColumnWidth = 20;
            worksheet.Range[row, 14].WrapText = true;

            worksheet.Range[row, 15].Text = "Leave Status";
            worksheet.Range[row, 15].CellStyleName = "headerStyle";
            worksheet.Range[row, 15].ColumnWidth = 20;
            worksheet.Range[row, 15].WrapText = true;

            row++;

            int count = 1;
            
            foreach (var item in data)
            {
                worksheet.Range[row, 1].Text = count.ToString();
                worksheet.Range[row, 2].Text = item.EmployeeLeaveNo;
                worksheet.Range[row, 2].VerticalAlignment = ExcelVAlign.VAlignTop;
                worksheet.Range[row, 2].HorizontalAlignment = ExcelHAlign.HAlignRight;

                if (item.Hod != null)
                {
                    var _resultdata = EmployeeData.FirstOrDefault(o => o.Employeeid == item.Employeeid);
                    worksheet.Range[row, 3].Text = _resultdata.EmployeeDetails;
                    worksheet.Range[row, 3].WrapText = true;
                    worksheet.Range[row, 3].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 3].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                worksheet.Range[row, 4].Text = item.DepartmentDescription;
                worksheet.Range[row, 4].WrapText = true;
                worksheet.Range[row, 4].VerticalAlignment = ExcelVAlign.VAlignTop;
                worksheet.Range[row, 4].HorizontalAlignment = ExcelHAlign.HAlignRight;

                if (item.LeaveTypeId != null)
                {
                    var _leavetype = LeaveTypeData.FirstOrDefault(o => o.LeaveTypeId == item.LeaveTypeId);
                    worksheet.Range[row, 5].Text = _leavetype.LeaveTypeDescription;
                    worksheet.Range[row, 5].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 5].HorizontalAlignment = ExcelHAlign.HAlignRight;

                }

                if (item.CommencementDate.HasValue)
                {
                    worksheet.Range[row, 6].Text = item.CommencementDate.Value.ToString("dd/MM/yyyy");
                    worksheet.Range[row, 6].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 6].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                if (item.EndDate.HasValue)
                {
                    worksheet.Range[row, 7].Text = item.EndDate.Value.ToString("dd/MM/yyyy");
                    worksheet.Range[row, 7].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 7].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                if (item.NoDaysAppliedFor.HasValue)
                {
                    worksheet.Range[row, 8].Number = item.NoDaysAppliedFor.Value;
                    worksheet.Range[row, 8].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 8].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                if (item.ImmediateSupervisor != null)
                {
                    var _resultdata = EmployeeData.FirstOrDefault(o => o.Employeeid == item.ImmediateSupervisor);
                    worksheet.Range[row, 9].Text = _resultdata.EmployeeDetails;
                    worksheet.Range[row, 9].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 9].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                if (item.SupervisorApprovalDate.HasValue)
                {
                    worksheet.Range[row, 10].Text = item.SupervisorApprovalDate.Value.ToString("dd/MM/yyyy  hh:mm:ss");
                    worksheet.Range[row, 10].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 10].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                if (item.Hod != null)
                {
                    var _resultdata = EmployeeData.FirstOrDefault(o => o.Employeeid == item.Hod);
                    worksheet.Range[row, 11].Text = _resultdata.EmployeeDetails;
                    worksheet.Range[row, 11].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 11].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                if (item.HodapprovalDate.HasValue)
                {
                    worksheet.Range[row, 12].Text = item.HodapprovalDate.Value.ToString("dd/MM/yyyy  hh:mm:ss");
                    worksheet.Range[row, 12].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 12].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                if (item.Chro != null)
                {
                    var _resultdata = EmployeeData.FirstOrDefault(o => o.Employeeid == item.Chro);
                    worksheet.Range[row, 13].Text = _resultdata.EmployeeDetails;
                    worksheet.Range[row, 13].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 13].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                if (item.ChroapprovalDate.HasValue)
                {
                    worksheet.Range[row, 14].Text = item.ChroapprovalDate.Value.ToString("dd/MM/yyyy  hh:mm:ss");
                    worksheet.Range[row, 14].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 14].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                var _leavetypestatus = ApprovalStatusData.FirstOrDefault(o => o.LeaveApprovalStatusId == item.LeaveApprovalStatusId);

                if (_leavetypestatus != null)
                {
                    var color = Aspose.Svg.Drawing.Color.FromString(_leavetypestatus.LeaveApprovalStatusColor);
                    int rgbColor = color.ToInt();
                    worksheet.Range[row, 15].CellStyle.Color = Syncfusion.Drawing.Color.FromArgb(rgbColor);
                    worksheet.Range[row, 15].Text = _leavetypestatus.LeaveApprovalStatus;
                    worksheet.Range[row, 15].WrapText = true;
                    worksheet.Range[row, 15].VerticalAlignment = ExcelVAlign.VAlignTop;
                    worksheet.Range[row, 15].HorizontalAlignment = ExcelHAlign.HAlignRight;
                }

                row += 1;
                count++;
            }
        }

        catch (Exception ex)
        {
            throw ex;
        }
    }
}
