@page "/BSCKPIFormPage"
@inject ApiConfig _ApiConfig;
@inject HttpClient Http
@using HCMIS.Data
@using HCMIS.Model
@using System.Text.Json
@using System.Collections;
@using System.IO;
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigation;
@using HCMIS.SHARED.DTOs.BSC;
@using HCMIS.SHARED.DTOs.Utilities;
@using HCMIS.ViewModel;
@inject IToastService toastService;
@using HCMIS.Interface;
@inject IAuthenticationService AuthService;

<style>

    /*Disable Grid on Load and Enable it on DataBound*/
    .e-grid[disable="yes"] {
        opacity: .5;
        pointer-events: none;
        -ms-touch-action: none;
        touch-action: none;
        cursor: no-drop;
    }

    /*hide the Default Grid spinner */
    .e-grid .e-spinner-pane {
        display: none;
    }

    /*to remove the edit button alone*/
    .e-removeEditcommand .e-unboundcell .e-unboundcelldiv button.e-Editbutton {
        display: none;
    }

    /*to remove the delete button alone*/
    .e-removeDeletecommand .e-unboundcell .e-unboundcelldiv button.e-Deletebutton {
        display: none;
    }


    /*Disable select all on grid checkbox*/
    .e-headercelldiv.e-headerchkcelldiv .e-checkbox-wrapper.e-css {
        pointer-events: none;
        opacity: 0.5;
    }

    /*Change Dialog Header Close Button*/
    .e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
        float: right;
        font-size: 12px;
        width: auto;
    }

    .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
        background-color: #d9edf7;
        border-color: #d9edf7;
        border-radius: 1px;
        bottom: 0;
        float: right;
        height: 32px;
        left: 15px;
        position: relative;
        width: 15px;
        padding: 1px 9px;
    }

    /*Change Cell Color */
    .e-headercell.e-attr1 {
        background: #964B00;
        color: white;
    }

    .e-headercell.e-attr2 {
        background: #FFFF00;
        color: darkred;
    }

    .e-headercell.e-attr3 {
        background: grey;
        color: white;
    }

    .pp {
        color: ghostwhite;
        background-color: #2ecc71;
        padding: 10px;
    }

    .e-edit-dialog {
        max-height: 98%;
        max-width: 98%;
        min-width: 98%;
        min-height: 98%;
    }

    .disablecell {        
        color: white;
        background-color: #8e44ad; /*wisteria*/
        pointer-events: none;
        display: none;
    }

    h6 {
        color: ghostwhite;
        background-color: #268cff;
        padding: 10px;
        width: 100%;
        font-size: 15px;
    }

</style>

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="color: brown;">
        <strong>
            <img src="/Image/logonhcc.png" width="40" height="25"/> HCMIS
        </strong>| FINANCIAL YEAR OBJECTIVES
    </li>
</ol>

<SfSpinner @ref="SpinnerObj" Label="Loading Please Wait....." Size="50">
    @*Render custom spinner component.*@
</SfSpinner>

<SfGrid @ref="@ObjectivesGrid" ID="Grid" TValue="ABscKpiDto" @attributes="@GridAttributes" AllowPaging="true"
        AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowPdfExport="true" AllowSelection="true"
        AllowTextWrap="true" AllowSorting="true" Toolbar="@ToolbarMenu">

    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
    <GridPageSettings PageSizes="true"></GridPageSettings>
    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
    <SfDataManager AdaptorInstance="@typeof(ObjectivesAdapter)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
    <GridEvents OnActionComplete="@OnPerspectiveActionComplete"
                OnActionBegin="@OnPerspectivesActionBegin"
                RowSelecting="RowSelectingHandler"
                OnLoad="LoadHandler"
                DataBound="DataBound"
                TValue="ABscKpiDto">
    </GridEvents>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="Syncfusion.Blazor.Grids.EditMode.Dialog">
        <HeaderTemplate>
            @{
                var text = GetWeightHeader((context as ABscKpiDto));
                <div class="headerbandimg">
                    <span>@text</span>
                </div>
            }
        </HeaderTemplate>
        <Template Context="BscPerspectivesContext">
            @{
                <center>
                    <h5>
                        <strong>CAPTURE PERCENTAGES</strong>
                    </h5>
                </center>

                KpiData = (BscPerspectivesContext as ABscKpiDto);
                @if (KpiData != null)
                {
                    <div class="row">
                        <div class="col-md-12" hidden>
                            <SfNumericTextBox @bind-Value="@(KpiData.Bsckpiid)" Enabled="false" Placeholder="KPI Id" Format="N0" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                        </div>

                        <div class="col-md-6">
                            <p>Financial Year:<span style="color:red;">*</span></p>
                            <SfDropDownList @bind-Value="@(KpiData.FinancialYearId)"
                                            Enabled="@isFinancialYearEnabled" TItem="ViewFinancialYearDto" TValue="int?"
                                            DataSource="@FinancialYearData" Placeholder="Please select"
                                            FloatLabelType="FloatLabelType.Never" AllowFiltering="true"
                                            FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
                                <DropDownListFieldSettings Value="@nameof(AFinancialYear.Id)"
                                                           Text="@nameof(AFinancialYear.FinancialYear)">
                                </DropDownListFieldSettings>
                                <DropDownListEvents TValue="int?"
                                                    TItem="ViewFinancialYearDto" ValueChange="OnYearChange">
                                </DropDownListEvents>
                            </SfDropDownList>
                        </div>

                        <div class="col-md-6">
                            <p>Employee:<span style="color:red;">*</span></p>
                            <SfDropDownList @bind-Value="@(KpiData.EmployeeId)"
                                            Enabled="@EmployeeDD" TItem="ViewEmployeeDropDownDto" TValue="int?"
                                            DataSource="@EmployeeData" Placeholder="Please select"
                                            FloatLabelType="FloatLabelType.Never" AllowFiltering="true"
                                            FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
                                            <DropDownListFieldSettings Value="@nameof(ViewEmployeeDropDownDto.Employeeid)"
                                            Text="@nameof(ViewBscEmployeeDto.EmployeeDetails)">
                                </DropDownListFieldSettings>
                            </SfDropDownList>
                        </div>

                        @*GridPerspectives*@
                        <div class="form-group col-md-12" style="padding-top:10px">
                            <SfGrid @ref="@ChildDataGrid"
                                    TValue="ViewABscKpidetailsDto"
                                    ID="ChGrid"
                                    DataSource="@KpiData.ABscKpidetails"
                                    AllowPaging="false" AllowFiltering="false" AllowReordering="true"
                                    AllowResizing="true" AllowGrouping="true" AllowExcelExport="true"
                                    AllowPdfExport="true" AllowSelection="true" AllowSorting="true"
                                    AllowTextWrap="true" Height="250px" GridLines="GridLine.Both">
                                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="Syncfusion.Blazor.Grids.EditMode.Batch" ShowConfirmDialog="false" Dialog="@DialogParams">

                                </GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>

                                <GridAggregates>
                                    <GridAggregate>
                                        <GridAggregateColumns>
                                            <GridAggregateColumn Field=@nameof(ViewABscKpidetailsDto.IndividualTargetWeight) Type="Syncfusion.Blazor.Grids.AggregateType.Sum">
                                                <FooterTemplate>
                                                    @{
                                                        aggregate = (context as AggregateTemplateContext);
                                                        <div>
                                                            @if (@aggregate != null)
                                                            {
                                                                <p style="color:purple;">Total Percentage: @aggregate.Sum %</p>
                                                            }
                                                        </div>
                                                    }
                                                </FooterTemplate>
                                            </GridAggregateColumn>
                                        </GridAggregateColumns>
                                    </GridAggregate>
                                </GridAggregates>

                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single" Mode="Syncfusion.Blazor.Grids.SelectionMode.Cell" CellSelectionMode="CellSelectionMode.Box"></GridSelectionSettings>

                                <GridEvents CellSelected="PerspectiveCellSelectHandler"
                                            QueryCellInfo="QueryCellInfoHandlerChild"
                                            TValue="ViewABscKpidetailsDto">
                                </GridEvents>

                                <GridColumns>
                                    <GridColumn Type="ColumnType.CheckBox" Width="50" Visible="false"></GridColumn>
                                    <GridColumn Field=@nameof(ViewABscKpidetailsDto.BsckpidetailsId)
                                                HeaderText="BsckpidetailsId"
                                                AllowEditing="false"
                                                IsPrimaryKey="true"
                                                Width="80"
                                                Visible="true">
                                    </GridColumn>
                                    <GridForeignColumn Field=@nameof(ViewABscKpidetailsDto.BscPerspectiveTypeId)
                                                       HeaderText="Perspective"
                                                       Width="90"
                                                       AllowEditing="false"
                                                       ForeignKeyField="@(nameof(ABscPerspectivesTypeDto.BscPerspectiveTypeId))"
                                                       ForeignKeyValue="@(nameof(ABscPerspectivesTypeDto.BscPerspectiveTypeDescription))"
                                                       ForeignDataSource="@BscPerspectiveTypeData"
                                                       AllowFiltering="false"
                                                       IsFrozen="false"
                                                       CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr3" }})">
                                    </GridForeignColumn>

                                    <GridForeignColumn Field=@nameof(ViewABscKpidetailsDto.MeasurementMetricId)
                                                       HeaderText="Basic Unit"
                                                       Width="60"
                                                       AllowEditing="true"
                                                       ValidationRules="@(new ValidationRules { Required = true})"
                                                       ForeignKeyField="@(nameof(AMeasurementMetricDto.MeasurementMetricId))"
                                                       ForeignKeyValue="@(nameof(AMeasurementMetricDto.MeasurementMetricDesc))"
                                                       ForeignDataSource="@MeasurementUnitData"
                                                       CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr3" }})">
                                    </GridForeignColumn>

                                    <GridColumn Field=@nameof(ViewABscKpidetailsDto.Objective)
                                                HeaderText="Objective (s)"
                                                TextAlign="TextAlign.Justify"
                                                AllowEditing="true"
                                                ValidationRules="@(new ValidationRules { Required = false })"
                                                Width="150"
                                                CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr3" }})">
                                    </GridColumn>

                                    <GridColumn Field=@nameof(ViewABscKpidetailsDto.IndividualTargetWeight)
                                                HeaderText="Individual Target Weight"
                                                TextAlign="TextAlign.Right"
                                                AllowEditing="true"
                                                ValidationRules="@(new ValidationRules { Required = true, Min = 1 , Max=100 })"
                                                EditType="EditType.NumericEdit"
                                                Format="###.##"
                                                Width="50"
                                                ClipMode="ClipMode.EllipsisWithTooltip"
                                                CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr3" }})">
                                    </GridColumn>
                                </GridColumns>
                            </SfGrid>

                        </div>

                    </div>
                }
            }
        </Template>

        <FooterTemplate>
            <button @onclick="@onSubmitForm" class="btn btn-success" data-ripple="true" style="margin-right:10px;">Save</button>
            <button @onclick="@DialogCancelBtnclicked" class="btn btn-danger" data-ripple="true">Cancel</button>            
        </FooterTemplate>


    </GridEditSettings>
    <GridColumns>
        <GridColumn Type="ColumnType.CheckBox" Width="30"></GridColumn>
        <GridColumn Field=@nameof(ABscKpiDto.Bsckpiid) Visible=false HeaderText="Bsckpi Id" AllowEditing="false" IsPrimaryKey="true"></GridColumn>

        <GridForeignColumn Field=@nameof(ABscKpiDto.FinancialYearId)
                           HeaderText="Financial Year"
                           Width="80"
                           AllowEditing="true"
                           ForeignKeyField="@(nameof(AFinancialYear.Id))"
                           ForeignKeyValue="@(nameof(AFinancialYear.FinancialYear))"
                           ForeignDataSource="@FinancialYearData"
                           CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr3" }})">
        </GridForeignColumn>
        <GridForeignColumn Field=@nameof(ABscKpiDto.EmployeeId)
                           HeaderText="EmployeeData"
                           Width="80"
                           AllowEditing="true"
                           ForeignKeyField="@(nameof(ViewEmployeeDropDownDto.Employeeid))"
                           ForeignKeyValue="@(nameof(ViewBscEmployeeDto.EmployeeDetails))"
                           ForeignDataSource="@EmployeeData"
                           CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr3" }})">
        </GridForeignColumn>
    </GridColumns>
</SfGrid>

<div>
    <SfDialog @ref="@LoadingDialogue"
              ID="LoadingDialog"
              Height="auto"
              Width="20%"
              AllowDragging="true"
              Target=".mainbody"
              ShowCloseIcon="false"
              IsModal=true
              Visible="false">
        <DialogTemplates>
            <Content>
                <div style="padding:25px">
                    <div class="loader">
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                    </div>
                </div>
            </Content>
            <FooterTemplate>

            </FooterTemplate>
        </DialogTemplates>
    </SfDialog>
</div>


@code {
    #region Declarations
    private static ABscKpiDto? KpiData { get; set; }
    SfGrid<ABscKpiDto>? ObjectivesGrid;
    SfGrid<ViewABscKpidetailsDto>? ChildDataGrid;
    private DialogSettings DialogParams = new DialogSettings { Height = "auto", MinHeight = "40vh", Width = "65%" };
    List<BscPerspectivesDto>? BscPerspectiveData { get; set; }
    List<ViewPerspectiveTotalWeightSumDto>? BscPerspectiveSumData { get; set; }
    List<ViewFinancialYearDto>? FinancialYearData { get; set; }
    List<ADepartmentDto>? DepartmentsData { get; set; }
    List<ABscPerspectivesTypeDto>? BscPerspectiveTypeData { get; set; }
    List<AMeasurementMetricDto>? MeasurementUnitData { get; set; }
    List<ViewABscKpidetailsDto>? PerspectivesDetailData { get; set; }
    List<ViewEmployeeDropDownDto>? EmployeeData { get; set; }
    Syncfusion.Blazor.Grids.AggregateTemplateContext? aggregate { get; set; }
    EmployeeRegistrationModel inputmodel { get; set; } = new EmployeeRegistrationModel();
    [Parameter]
    public int? finyear { get; set; }
    LoginResultModel? Credentials { get; set; }
    public bool WeightTextBox = true;
    public bool BasicUnitDD = true;
    public bool EmployeeDD = false;
    private static ViewEmployeeDropDownDto? employeeno { get; set; }
    SfSpinner? SpinnerObj;
    private Dictionary<string, object> GridAttributes { get; set; } = new Dictionary<string, object>();
    bool isFinancialYearEnabled { get; set; } = false;
    int? finyearid = null;
    SfDialog? LoadingDialogue;
    JsonSerializerOptions _options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
    int countid = -1000;
    int? YrId = null;
    string? weighttotalpercentage  = "70";
    Syncfusion.Blazor.Grids.Action _previous { get; set; }

    private List<object> ToolbarMenu = new List<object>()
    {
            new ItemModel() { Text = "Add Weight", PrefixIcon = "e-add", Id = "Grid_add"},
            new ItemModel(){ Text = "Edit Weight", PrefixIcon= "e-edit", Id="Grid_edit"},
    };

    #endregion Declarations

    protected override async Task OnInitializedAsync()
    {
        Credentials = await AuthService.GetUserCredentials();

        employeeno = null;
        List<Task> t = new List<Task>();
        t.Add(Task.Run(async () =>
        {
            var responsebscperspective = await Http.GetAsync($"BscPerspectives/GetBscPerspectives");
            if (responsebscperspective.IsSuccessStatusCode)
            {
                var contentbscperspective = await responsebscperspective.Content.ReadAsStringAsync();
                BscPerspectiveData = JsonSerializer.Deserialize<List<BscPerspectivesDto>>(contentbscperspective, _options);
            }
        }));

        t.Add(Task.Run(async () =>
        {
            var responsebscperspectivedetail = await Http.GetAsync($"BscKeyPerformanceIndicator/GetKeyPerformanceIndicator");
            if (responsebscperspectivedetail.IsSuccessStatusCode)
            {
                var contentbscperspectivedetail = await responsebscperspectivedetail.Content.ReadAsStringAsync();
                PerspectivesDetailData = JsonSerializer.Deserialize<List<ViewABscKpidetailsDto>>(contentbscperspectivedetail, _options);
            }
        }));

        t.Add(Task.Run(async () =>
        {
            var responsefinyear = await Http.GetAsync($"FinancialYear/list");
            if (responsefinyear.IsSuccessStatusCode)
            {
                var contentfinyear = await responsefinyear.Content.ReadAsStringAsync();
                FinancialYearData = JsonSerializer.Deserialize<List<ViewFinancialYearDto>>(contentfinyear, _options);

                DateTime currentdate = DateTime.Now;
                string? financialyeardesc = null;
                if (currentdate.Month >= 6)
                {
                    financialyeardesc = $"{currentdate.Year}/{(currentdate.Year + 1)}";
                }
                else if (currentdate.Month < 6)
                {
                    financialyeardesc = $"{(currentdate.Year - 1)}/{currentdate.Year}";
                }

                var b = FinancialYearData.FirstOrDefault(o => o.FinancialYear.Trim() == financialyeardesc.Trim());
                if (b != null)
                {
                    finyearid = b.Id;
                }
            }
        }));

        t.Add(Task.Run(async () =>
        {
            var responsebscperspectivetype = await Http.GetAsync($"Utilities/BSCPerspectiveType");
            if (responsebscperspectivetype.IsSuccessStatusCode)
            {
                var contentbscperspectivetype = await responsebscperspectivetype.Content.ReadAsStringAsync();
                BscPerspectiveTypeData = JsonSerializer.Deserialize<List<ABscPerspectivesTypeDto>>(contentbscperspectivetype, _options);
            }
        }));

        t.Add(Task.Run(async () =>
        {
            var responsedepartment = await Http.GetAsync($"Utilities/GetDepartment");
            if (responsedepartment.IsSuccessStatusCode)
            {
                var contentdepartment = await responsedepartment.Content.ReadAsStringAsync();
                DepartmentsData = JsonSerializer.Deserialize<List<ADepartmentDto>>(contentdepartment, _options);
            }
        }));

        t.Add(Task.Run(async () =>
        {
            var responsemetric = await Http.GetAsync($"Utilities/GetMeasurementMetric");
            if (responsemetric.IsSuccessStatusCode)
            {
                var contentmetric = await responsemetric.Content.ReadAsStringAsync();
                MeasurementUnitData = JsonSerializer.Deserialize<List<AMeasurementMetricDto>>(contentmetric, _options);
            }
        }));

        t.Add(Task.Run(async () =>
        {
            var responseemployee = await Http.GetAsync($"Utilities/GetEmployeeDD");
            if (responseemployee.IsSuccessStatusCode)
            {
                var contentemployee = await responseemployee.Content.ReadAsStringAsync();
                EmployeeData = JsonSerializer.Deserialize<List<ViewEmployeeDropDownDto>>(contentemployee, _options);
            }
        }));

        Task _t = Task.WhenAll(t);
        await _t;
    }

    public async Task onSubmitForm()
    {
        try
        {
            await LoadingDialogue.ShowAsync();
            if (ChildDataGrid != null)
            {
                await ChildDataGrid.EndEditAsync();
            }

            if (ObjectivesGrid != null)
            {
                await ObjectivesGrid.EndEditAsync();
            }

            StateHasChanged();
        }
        catch (Exception ex)
        {
            toastService.ShowWarning(ex.Message.ToString());
        }
        finally
        {
            await LoadingDialogue.HideAsync();
            StateHasChanged();
        }
    }

    public async void DialogCancelBtnclicked()
    {
        if (ChildDataGrid != null)
        {
            await ChildDataGrid.CloseEditAsync();
        }
        if (ObjectivesGrid != null)
        {
            await ObjectivesGrid.CloseEditAsync();
        }
    }

    public async void OnYearChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<int?, ViewFinancialYearDto> args)
    {
        try
        {
            await LoadingDialogue.ShowAsync();
            YrId = args.ItemData.Id;

            List<Task> t = new List<Task>();

            t.Add(Task.Run(async () =>
            {
                var responsebscperspectivedetail = await Http.GetAsync($"BscKeyPerformanceIndicator/GetKeyPerformanceIndicatorDetail?YearId={YrId}");
                if (responsebscperspectivedetail.IsSuccessStatusCode)
                {
                    var contentbscperspectivedetail = await responsebscperspectivedetail.Content.ReadAsStringAsync();
                    PerspectivesDetailData = JsonSerializer.Deserialize<List<ViewABscKpidetailsDto>>(contentbscperspectivedetail, _options);
                }
            }));


            t.Add(Task.Run(async () =>
            {
                var responsebscperspectivetype = await Http.GetAsync($"Utilities/BSCPerspectiveType");
                if (responsebscperspectivetype.IsSuccessStatusCode)
                {
                    var contentbscperspectivetype = await responsebscperspectivetype.Content.ReadAsStringAsync();
                    BscPerspectiveTypeData = JsonSerializer.Deserialize<List<ABscPerspectivesTypeDto>>(contentbscperspectivetype, _options);
                }
            }));


            if (PerspectivesDetailData != null)
            {
                KpiData.ABscKpidetails = PerspectivesDetailData;
            }
            if (KpiData.ABscKpidetails == null)
            {
                KpiData.ABscKpidetails = new List<ViewABscKpidetailsDto>();
            }

            foreach (var item in BscPerspectiveTypeData)
            {
                var exist = KpiData.ABscKpidetails
                .FirstOrDefault(o => o.BscPerspectiveTypeId == item.BscPerspectiveTypeId);

                if (exist == null)
                {
                    var m = new ViewABscKpidetailsDto();
                    m.BsckpidetailsId = countid;
                    m.BscPerspectiveTypeId = item.BscPerspectiveTypeId;

                    KpiData.ABscKpidetails.Add(m);
                    countid++;
                }
            }
            KpiData.ABscKpidetails = KpiData.ABscKpidetails.OrderBy(o => o.BscPerspectiveTypeId).ToList();

            StateHasChanged();

            Task _t = Task.WhenAll(t);
            await _t;
        }
        catch(Exception ex)
        {
            throw ex;
        }
        finally
        {
            await LoadingDialogue.HideAsync();
        }
    }

    public async Task RowSelectingHandler(RowSelectingEventArgs<ABscKpiDto> args)
    {
        await ObjectivesGrid.ClearSelectionAsync();   //clear selection
    }

    public async void OnPerspectivesActionBegin(ActionEventArgs<ABscKpiDto> args)
    {
        try
        {
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit)
            {
                _previous = args.RequestType;                   
            }
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
            {
                _previous = args.RequestType;
                args.RowData.FinancialYearId = finyearid;
                args.RowData.ABscKpidetails = new List<ViewABscKpidetailsDto>();
                
                if (Credentials.StaffId > 0)
                {
                    args.Data.EmployeeId = Credentials.StaffId;
                }

                List<Task> t = new List<Task>();

                t.Add(Task.Run(async () =>
                {
                    var responsebscperspectivedetail = await Http.GetAsync($"BscKeyPerformanceIndicator/GetKeyPerformanceIndicatorDetail?YearId={finyearid}");
                    if (responsebscperspectivedetail.IsSuccessStatusCode)
                    {
                        var contentbscperspectivedetail = await responsebscperspectivedetail.Content.ReadAsStringAsync();
                        PerspectivesDetailData = JsonSerializer.Deserialize<List<ViewABscKpidetailsDto>>(contentbscperspectivedetail, _options);
                    }
                }));


                t.Add(Task.Run(async () =>
                {
                    var responsebscperspectivetype = await Http.GetAsync($"Utilities/BSCPerspectiveType");
                    if (responsebscperspectivetype.IsSuccessStatusCode)
                    {
                        var contentbscperspectivetype = await responsebscperspectivetype.Content.ReadAsStringAsync();
                        BscPerspectiveTypeData = JsonSerializer.Deserialize<List<ABscPerspectivesTypeDto>>(contentbscperspectivetype, _options);
                    }
                }));

                Task _t = Task.WhenAll(t);
                await _t;

                if (PerspectivesDetailData != null)
                {
                    args.RowData.ABscKpidetails = PerspectivesDetailData;
                }
                if (args.RowData.ABscKpidetails == null)
                {
                    args.RowData.ABscKpidetails = new List<ViewABscKpidetailsDto>();
                }

                foreach (var item in BscPerspectiveTypeData)
                {
                    var exist = args.RowData.ABscKpidetails.FirstOrDefault(o => o.BscPerspectiveTypeId == item.BscPerspectiveTypeId);
                    if (exist == null)
                    {
                        var m = new ViewABscKpidetailsDto();
                        m.BsckpidetailsId = countid;
                        m.BscPerspectiveTypeId = item.BscPerspectiveTypeId;

                        args.RowData.ABscKpidetails.Add(m);
                        countid++;
                    }
                }
                args.RowData.ABscKpidetails = args.RowData.ABscKpidetails.OrderBy(o => o.BscPerspectiveTypeId).ToList();

                StateHasChanged();
            }
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.Cancel)
            {

            }
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
            {
                if (args.Data.FinancialYearId == null)
                {
                    toastService.ShowWarning("Please select a financial year.");
                    args.Cancel = true;
                }
                else if (args.Data.EmployeeId == null)
                {
                    toastService.ShowWarning("Please select the employee.");
                    args.Cancel = true;
                }

                else
                {
                    //var countdata = BscPerspectiveData?.FirstOrDefault(o => o.FinancialYearId == args.Data.FinancialYearId && o.DepartmentId == args.Data.DepartmentId);

                    //if (countdata != null && args.Action == "Add")
                    //{
                    //    var findesc = FinancialYearData?.FirstOrDefault(o=>o.Id == countdata.FinancialYearId);
                    //    var depdesc = DepartmentsData?.FirstOrDefault(o => o.DepartmentId == countdata.DepartmentId);

                    //    toastService.ShowWarning("You have arleady captured weights for your department (" + depdesc.DepartmentDescription + ") in the Financial Year (" + findesc.FinancialYear + ") . Record Not Saved");
                    //    args.Cancel = true;
                    //}
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message.ToString());
        }
    }

    public async Task OnPerspectiveActionComplete(ActionEventArgs<ABscKpiDto> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Add) || args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.BeginEdit))
        {
            ObjectivesGrid?.PreventRender(false);
        }
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            List<Task> t = new List<Task>();
            t.Add(Task.Run(async () =>
            {
                var responsebscperspective = await Http.GetAsync($"BscPerspectives/GetBscPerspectives");
                if (responsebscperspective.IsSuccessStatusCode)
                {
                    var contentbscperspective = await responsebscperspective.Content.ReadAsStringAsync();
                    BscPerspectiveData = JsonSerializer.Deserialize<List<BscPerspectivesDto>>(contentbscperspective, _options);
                }
            }));

            t.Add(Task.Run(async () =>
            {
                var responsebscperspectivedetail = await Http.GetAsync($"BscKeyPerformanceIndicator/GetKeyPerformanceIndicatorDetail");
                if (responsebscperspectivedetail.IsSuccessStatusCode)
                {
                    var contentbscperspectivedetail = await responsebscperspectivedetail.Content.ReadAsStringAsync();
                    PerspectivesDetailData = JsonSerializer.Deserialize<List<ViewABscKpidetailsDto>>(contentbscperspectivedetail, _options);
                }
            }));

            t.Add(Task.Run(async () =>
            {
                var responsefinyear = await Http.GetAsync($"FinancialYear/list");
                if (responsefinyear.IsSuccessStatusCode)
                {
                    var contentfinyear = await responsefinyear.Content.ReadAsStringAsync();
                    FinancialYearData = JsonSerializer.Deserialize<List<ViewFinancialYearDto>>(contentfinyear, _options);

                    DateTime currentdate = DateTime.Now;
                    string? financialyeardesc = null;
                    if (currentdate.Month >= 6)
                    {
                        financialyeardesc = $"{currentdate.Year}/{(currentdate.Year + 1)}";
                    }
                    else if (currentdate.Month < 6)
                    {
                        financialyeardesc = $"{(currentdate.Year - 1)}/{currentdate.Year}";
                    }

                    var b = FinancialYearData.FirstOrDefault(o => o.FinancialYear.Trim() == financialyeardesc.Trim());
                    if (b != null)
                    {
                        finyearid = b.Id;
                    }
                }
            }));

            t.Add(Task.Run(async () =>
            {
                var responsebscperspectivetype = await Http.GetAsync($"Utilities/BSCPerspectiveType");
                if (responsebscperspectivetype.IsSuccessStatusCode)
                {
                    var contentbscperspectivetype = await responsebscperspectivetype.Content.ReadAsStringAsync();
                    BscPerspectiveTypeData = JsonSerializer.Deserialize<List<ABscPerspectivesTypeDto>>(contentbscperspectivetype, _options);
                }
            }));

            t.Add(Task.Run(async () =>
            {
                var responsedepartment = await Http.GetAsync($"Utilities/GetDepartment");
                if (responsedepartment.IsSuccessStatusCode)
                {
                    var contentdepartment = await responsedepartment.Content.ReadAsStringAsync();
                    DepartmentsData = JsonSerializer.Deserialize<List<ADepartmentDto>>(contentdepartment, _options);
                }
            }));

            t.Add(Task.Run(async () =>
            {
                var responsemetric = await Http.GetAsync($"Utilities/GetMeasurementMetric");
                if (responsemetric.IsSuccessStatusCode)
                {
                    var contentmetric = await responsemetric.Content.ReadAsStringAsync();
                    MeasurementUnitData = JsonSerializer.Deserialize<List<AMeasurementMetricDto>>(contentmetric, _options);
                }
            }));

            t.Add(Task.Run(async () =>
            {
                var responseemployee = await Http.GetAsync($"Utilities/GetEmployeeDD");
                if (responseemployee.IsSuccessStatusCode)
                {
                    var contentemployee = await responseemployee.Content.ReadAsStringAsync();
                    EmployeeData = JsonSerializer.Deserialize<List<ViewEmployeeDropDownDto>>(contentemployee, _options);
                }
            }));

            Task _t = Task.WhenAll(t);
            await _t;
        }
    }

    //For Child Grid
    //Enable cell edit on single click
    public async Task PerspectiveCellSelectHandler(CellSelectEventArgs<ViewABscKpidetailsDto> args)
    {
        try
        {
            //get selected cell index
            var CellIndexes = await ChildDataGrid.GetSelectedRowCellIndexesAsync();

            //get the row and cell index
            var CurrentEditRowIndex = CellIndexes[0].Item1;
            var CurrentEditCellIndex = (int)CellIndexes[0].Item2;

            //get the available fields
            var fields = await ChildDataGrid.GetColumnFieldNamesAsync();
            // edit the selected cell using the cell index and column name
            await ChildDataGrid.EditCellAsync(CurrentEditRowIndex, fields[CurrentEditCellIndex]);
        }
        catch (Exception ex)
        {
            // throw ex;
        }
    }
        
    public async void QueryCellInfoHandlerChild(QueryCellInfoEventArgs<ViewABscKpidetailsDto> Args)
    {
        //if (Args.Column.Field == nameof(ViewABscKpidetailsDto.IndividualTargetWeight))
        //{
        //    //Disable Learning and Growth
        //    if (Args.Data.BscPerspectiveTypeId == 4)
        //    {
        //        Args.Cell.AddClass(new string[] { "disablecell" });
        //    }
        //}

        //if (Args.Column.Field == nameof(ViewABscKpidetailsDto.MeasurementMetricId))
        //{
        //    //Disable Basic Unit
        //    Args.Cell.AddClass(new string[] { "disablecell" });
        //}
    }


    public async void LoadHandler()
    {
        SpinnerObj.ShowAsync();
        GridAttributes.Add("disable", "yes");
    }

    public async void DataBound()
    {
        GridAttributes["disable"] = "no";
        await SpinnerObj.HideAsync();

        //Check if there are records arleady and only allow editing
        if(ObjectivesGrid != null && ObjectivesGrid.CurrentViewData.Count() > 0)
        {
            ToolbarMenu = new List<object>()
            {
                new ItemModel(){ Text = "Edit Weight", PrefixIcon= "e-edit", Id="Grid_edit"}
            };
        }
    }

    #region ObjectivesAdapter
    public class ObjectivesAdapter : DataAdaptor
    {
        HttpClient Http;
        private readonly JsonSerializerOptions _options;
        IAuthenticationService _AuthService;
        ApiConfig _ApiConfig;
        public IToastService toastService;
        private readonly NavigationManager Navigation;

        public ObjectivesAdapter(HttpClient _http, IToastService ts, NavigationManager _Navigation
            , IAuthenticationService authservice, ApiConfig apiConfig)
        {
            Http = _http;
            _options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            toastService = ts;
            Navigation = _Navigation;
            _ApiConfig = apiConfig;
            _AuthService = authservice;
        }

        public override async Task<Object> ReadAsync(DataManagerRequest dataManagerRequest, string key = null)
        {
            var credentials = await _AuthService.GetUserCredentials();
            
            int? EmployeeId = credentials.StaffId;
            var data = new List<ABscKpiDto>();

            try
            {
                var response = await Http.GetAsync($"BscKeyPerformanceIndicator/GetKeyPerformanceIndicator");
                var content = await response.Content.ReadAsStringAsync();
                if (response.IsSuccessStatusCode)
                {
                    data = JsonSerializer.Deserialize<List<ABscKpiDto>>(content, _options);
                }
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }

            IEnumerable GridData = data;
            int _count = data.Count;
            if (dataManagerRequest.Search != null && dataManagerRequest.Search.Count > 0)
            {
                // Searching
                GridData = DataOperations.PerformSearching(GridData, dataManagerRequest.Search);
            }
            if (dataManagerRequest.Where != null && dataManagerRequest.Where.Count > 0)
            {
                // Filtering
                GridData = DataOperations.PerformFiltering(GridData, dataManagerRequest.Where, dataManagerRequest.Where[0].Operator);
            }
            if (dataManagerRequest.Sorted?.Count > 0) // perform Sorting
            {
                GridData = DataOperations.PerformSorting(GridData, dataManagerRequest.Sorted);
            }
            if (dataManagerRequest.Skip != 0)
            {
                GridData = DataOperations.PerformSkip(GridData, dataManagerRequest.Skip); //Paging
            }
            if (dataManagerRequest.Take != 0)
            {
                GridData = DataOperations.PerformTake(GridData, dataManagerRequest.Take);
            }
            IDictionary<string, object> aggregates = new Dictionary<string, object>();
            if (dataManagerRequest.Aggregates != null) // Aggregation
            {
                aggregates = DataUtil.PerformAggregation(GridData, dataManagerRequest.Aggregates);
            }
            if (dataManagerRequest.Group != null && dataManagerRequest.Group.Any()) //Grouping
            {
                foreach (var group in dataManagerRequest.Group)
                {
                    GridData = DataUtil.Group<ABscKpiDto>(GridData, group, dataManagerRequest.Aggregates, 0, dataManagerRequest.GroupByFormatter);
                }
            }
            return dataManagerRequest.RequiresCounts ? new DataResult() { Result = GridData, Count = _count, Aggregates = aggregates } : (object)GridData;
        }

        public override async Task<Object> InsertAsync(DataManager dataManager, object value, string key)
        {
            try
            {
                string? _baseurl = Navigation.BaseUri;
                var val = (value as ABscKpiDto);
                if (val != null)
                {
                    if (val.Bsckpiid == 0)
                    {
                        string json = Newtonsoft.Json.JsonConvert.SerializeObject(val);
                        StringContent httpContent = new StringContent(json, System.Text.Encoding.UTF8, "application/json");

                        var result = await Http.PostAsync($"BscKeyPerformanceIndicator/CreateKPIObjective?_baseurl={_baseurl}", httpContent);
                        if (result.IsSuccessStatusCode)
                        {
                            var content = await result.Content.ReadAsStringAsync();
                            var data = JsonSerializer.Deserialize<ResponseDto>(content, _options);
                            if (data != null)
                            {
                                if (data.IsSuccess)
                                {
                                    toastService.ShowSuccess(data.Message);
                                }
                                else
                                {
                                    toastService.ShowError(data.Message);
                                }
                            }
                        }
                        else
                        {
                            toastService.ShowError(result.ReasonPhrase);
                        }

                    }
                }
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }
            return value;
        }

        public override async Task<object> UpdateAsync(DataManager dataManager, object value, string keyField, string key)
        {
            try
            {
                string? _baseurl = Navigation.BaseUri;
                var val = (value as ABscKpiDto);
                if (val != null)
                {
                    if (val.Bsckpiid != 0)
                    {

                        string json = Newtonsoft.Json.JsonConvert.SerializeObject(val);
                        StringContent httpContent = new StringContent(json, System.Text.Encoding.UTF8, "application/json");

                        var result = await Http.PutAsync($"BscKeyPerformanceIndicator/UpdateKPIObjective?_baseurl={_baseurl}", httpContent);
                        if (result.IsSuccessStatusCode)
                        {
                            var content = await result.Content.ReadAsStringAsync();
                            var data = JsonSerializer.Deserialize<ResponseDto>(content, _options);
                            if (data != null)
                            {
                                if (data.IsSuccess)
                                {
                                    toastService.ShowSuccess(data.Message);
                                }
                                else
                                {
                                    toastService.ShowError(data.Message);
                                }
                            }
                        }
                        else
                        {
                            toastService.ShowError(result.ReasonPhrase);
                        }
                    }
                }
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }

            return value;
        }
    }

    public string GetWeightHeader(ABscKpiDto Value)
    {
        if (Value.Bsckpiid == 0)
        {
            return "Add new Objectives";
        }
        else
        {
            return "Edit Objectives";
        }
    }
    #endregion ObjectivesAdapter

}
