@page "/FinancialYearPage"
@inject ApiConfig _ApiConfig;
@inject HttpClient Http
@using HCMIS.Data
@using HCMIS.Model
@using System.Text.Json
@using System.Collections;
@using System.IO;
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigation;
@inject SystemSettings _SystemSettings;
@using HCMIS.SHARED.DTOs.BSC;
@using HCMIS.SHARED.DTOs.Utilities;
@using HCMIS.ViewModel;
@inject IToastService toastService;

<style>

    /*Change Cell Color */
    .e-headercell.e-attr1 {
        background: #964B00;
        color: white;
    }

    .e-headercell.e-attr2 {
        background: #FFFF00;
        color: darkred;
    }

    .e-headercell.e-attr3 {
        background: grey;
        color: white;
    }

    .pp {
        color: ghostwhite;
        background-color: #2ecc71;
        padding: 10px;
    }
</style>

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="color: brown;">
        <strong>
            <img src="/Image/logonhcc.png" width="40" height="25" /> HCMIS
        </strong>| FINANCIAL YEARS
    </li>
</ol>

<SfGrid @ref="@FinancialYearGrid" ID="Grid" TValue="ViewFinancialYearDto" AllowPaging="true"
        AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="true" AllowPdfExport="true" AllowSelection="true"
        AllowSorting="true" Toolbar="@ToolbarMenu">
    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
    <GridPageSettings PageSizes="true"></GridPageSettings>
    <GridSelectionSettings Mode="Syncfusion.Blazor.Grids.SelectionMode.Both"
                           Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
    <SfDataManager AdaptorInstance="@typeof(FinancialYearAdapter)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
    <GridEvents OnActionComplete="@FinancialYearActionComplete" OnActionBegin="@FinancialYearActionBegin" TValue="ViewFinancialYearDto"></GridEvents>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="Syncfusion.Blazor.Grids.EditMode.Dialog" ShowConfirmDialog="false">
        <HeaderTemplate>
            @{
                var text = GetYearHeader((context as ViewFinancialYearDto));
                <div class="headerbandimg">
                    <span>@text</span>
                </div>
            }
        </HeaderTemplate>
        <Template Context="BankContext">
            @{
                YYData = (BankContext as ViewFinancialYearDto);
                @if (YYData != null)
                {
                    <div class="row">
                        <div class="col-md-12" hidden>
                            <SfNumericTextBox @bind-Value="@(YYData.Id)" Enabled="false" Placeholder="Year Id" Format="N0" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                        </div>

                        <div class="col-md-12">
                            <p>Financial Year:<span style="color:red;">*</span></p>
                            <SfTextBox Multiline="false" @bind-Value="@(YYData.FinancialYear)" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                        </div>
                    </div>
                }
            }
        </Template>
    </GridEditSettings>
    <GridColumns>
        <GridColumn Type="ColumnType.CheckBox" Width="30" Visible=false></GridColumn>
        <GridColumn Field=@nameof(ViewFinancialYearDto.Id)
                    Visible=false
                    HeaderText="Year Id"
                    AllowEditing="false"
                    IsPrimaryKey="true">
        </GridColumn>
        <GridColumn Field=@nameof(ViewFinancialYearDto.FinancialYear)
                    HeaderText="Financial Year"
                    TextAlign="TextAlign.Justify"
                    Width="120"
                    ClipMode="ClipMode.EllipsisWithTooltip"
                    Type="ColumnType.String"
                    CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr1" }})">
        </GridColumn>
    </GridColumns>
</SfGrid>

@code {
    SfGrid<ViewFinancialYearDto>? FinancialYearGrid;
    private static ViewFinancialYearDto? YYData { get; set; }
    public bool? radiovalue;
    private DialogSettings DialogParams = new DialogSettings { Height = "auto", MinHeight = "40vh", Width = "65%" };
    List<ViewFinancialYearDto>? FYearData { get; set; }
    SfRadioButton<bool?> RadioButtonInstance;
    JsonSerializerOptions _options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
    private List<ViewFinancialYearDto> selectedrecords { get; set; }

    private List<object> ToolbarMenu = new List<object>()
    {
        new ItemModel() { Text = "Add Financial Year", PrefixIcon = "e-add", Id = "Grid_add"},
        new ItemModel(){ Text = "Edit Financial Year", PrefixIcon= "e-edit", Id="Grid_edit"},
        //new ItemModel(){ Text = "Delete Training Plan", PrefixIcon= "e-delete", Id="Grid_delete"},
        new ItemModel(){ Text = "Update Financial Year", PrefixIcon= "e-update", Id="Grid_update"},
        new ItemModel(){ Text = "Cancel Changes", PrefixIcon= "e-cancel", Id="Grid_cancel"}
    };

    protected override async Task OnInitializedAsync()
    {
        List<Task> t = new List<Task>();
        t.Add(Task.Run(async () =>
        {
            var responsefinyear = await Http.GetAsync($"FinancialYear/list");
            if (responsefinyear.IsSuccessStatusCode)
            {
                var contentfinyear = await responsefinyear.Content.ReadAsStringAsync();
                FYearData = JsonSerializer.Deserialize<List<ViewFinancialYearDto>>(contentfinyear, _options);
            }
        }));

        Task _t = Task.WhenAll(t);
        await _t;
    }


    #region FinancialYearAdapter
    public class FinancialYearAdapter : DataAdaptor
    {
        HttpClient Http;
        ApiConfig _ApiConfig;
        SystemSettings _SystemSettings;
        private readonly JsonSerializerOptions _options;
        public IToastService toastService;
        private readonly NavigationManager Navigation;
        public FinancialYearAdapter(HttpClient _http, IToastService ts, NavigationManager _Navigation
            , SystemSettings systemSettings, ApiConfig apiConfig)
        {
            Http = _http;
            _options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            toastService = ts;
            Navigation = _Navigation;
            _ApiConfig = apiConfig;
            _SystemSettings = systemSettings;

        }

        public override async Task<Object> ReadAsync(DataManagerRequest dataManagerRequest, string key = null)
        {
            var data = new List<ViewFinancialYearDto>();
            try
            {
                var response = await Http.GetAsync($"FinancialYear/list");
                var content = await response.Content.ReadAsStringAsync();
                if (!response.IsSuccessStatusCode)
                {
                    toastService.ShowError(response.ReasonPhrase);
                }
                data = JsonSerializer.Deserialize<List<ViewFinancialYearDto>>(content, _options);
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }

            IEnumerable GridData = data;
            int _count = data.Count;
            if (dataManagerRequest.Search != null && dataManagerRequest.Search.Count > 0)
            {
                // Searching
                GridData = DataOperations.PerformSearching(GridData, dataManagerRequest.Search);
            }
            if (dataManagerRequest.Where != null && dataManagerRequest.Where.Count > 0)
            {
                // Filtering
                GridData = DataOperations.PerformFiltering(GridData, dataManagerRequest.Where, dataManagerRequest.Where[0].Operator);
            }
            if (dataManagerRequest.Sorted?.Count > 0) // perform Sorting
            {
                GridData = DataOperations.PerformSorting(GridData, dataManagerRequest.Sorted);
            }
            if (dataManagerRequest.Skip != 0)
            {
                GridData = DataOperations.PerformSkip(GridData, dataManagerRequest.Skip); //Paging
            }
            if (dataManagerRequest.Take != 0)
            {
                GridData = DataOperations.PerformTake(GridData, dataManagerRequest.Take);
            }
            IDictionary<string, object> aggregates = new Dictionary<string, object>();
            if (dataManagerRequest.Aggregates != null) // Aggregation
            {
                aggregates = DataUtil.PerformAggregation(GridData, dataManagerRequest.Aggregates);
            }
            if (dataManagerRequest.Group != null && dataManagerRequest.Group.Any()) //Grouping
            {
                foreach (var group in dataManagerRequest.Group)
                {
                    GridData = DataUtil.Group<ViewFinancialYearDto>(GridData, group, dataManagerRequest.Aggregates, 0, dataManagerRequest.GroupByFormatter);
                }
            }
            return dataManagerRequest.RequiresCounts ? new DataResult() { Result = GridData, Count = _count, Aggregates = aggregates } : (object)GridData;
        }

        public override async Task<Object> InsertAsync(DataManager dataManager, object value, string key)
        {
            try
            {
                var val = (value as ViewFinancialYearDto);

                if (val.Id == 0)
                {
                    string json = Newtonsoft.Json.JsonConvert.SerializeObject(val);
                    StringContent httpContent = new StringContent(json, System.Text.Encoding.UTF8, "application/json");
                    var result = await Http.PostAsync($"FinancialYear/CreateFinancialYear", httpContent);
                    if (result.IsSuccessStatusCode)
                    {
                        toastService.ShowSuccess("Record sucessfully added");
                    }
                    else
                    {
                        //toastService.ShowError(result.Content.);
                    }
                }
                else
                {
                    string json = Newtonsoft.Json.JsonConvert.SerializeObject(val);
                    StringContent httpContent = new StringContent(json, System.Text.Encoding.UTF8, "application/json");
                    var result = await Http.PutAsync($"FinancialYear/UpdateFinancialYear", httpContent);
                    if (result.IsSuccessStatusCode)
                    {
                        toastService.ShowSuccess("Record sucessfully saved");
                    }
                    else
                    {
                    }
                }
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }
            return value;
        }

        public override async Task<object> UpdateAsync(DataManager dataManager, object value, string keyField, string key)
        {
            try
            {
                var val = (value as ViewFinancialYearDto);


                string json = Newtonsoft.Json.JsonConvert.SerializeObject(val);
                StringContent httpContent = new StringContent(json, System.Text.Encoding.UTF8, "application/json");
                var result = await Http.PutAsync($"FinancialYear/UpdateFinancialYear", httpContent);
                if (result.IsSuccessStatusCode)
                {
                    toastService.ShowSuccess("Record sucessfully updated");
                }
                else
                {
                    toastService.ShowError(result.ReasonPhrase);
                }
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }

            return value;
        }


    }

    public async void FinancialYearActionComplete(ActionEventArgs<ViewFinancialYearDto> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Add)
        || args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.BeginEdit))
        {
            FinancialYearGrid.PreventRender(false);
        }

        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            List<Task> t = new List<Task>();
            t.Add(Task.Run(async () =>
            {
                var responsefinyear = await Http.GetAsync($"FinancialYear/list");
                if (responsefinyear.IsSuccessStatusCode)
                {
                    var contentfinyear = await responsefinyear.Content.ReadAsStringAsync();
                    FYearData = JsonSerializer.Deserialize<List<ViewFinancialYearDto>>(contentfinyear, _options);
                }
            }));
        }
    }

    public async void FinancialYearActionBegin(ActionEventArgs<ViewFinancialYearDto> Args)
    {
        var data = Args.Data;
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            if (Args.Data.FinancialYear == null)
            {
                toastService.ShowWarning("Please enter the financial year !");
                Args.Cancel = true;
            }
            else
            {
                var countdata = FYearData?
                .FirstOrDefault(o => o.FinancialYear.Trim().ToLower()
                == Args.Data.FinancialYear.Trim().ToLower());

                if (countdata != null)
                {
                    toastService.ShowWarning("This financial year has arleady been captured in the database as " + countdata.FinancialYear + ". Record Not Saved");
                    Args.Cancel = true;
                }
            }
        }
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit)
        {

        }
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
        {

        }
    }

    public string GetYearHeader(ViewFinancialYearDto Value)
    {
        if (Value.Id == 0)
        {
            return "Add a new Financial Year";
        }
        else
        {
            return "Edit " + Value.FinancialYear;
        }
    }

    #endregion FinancialYearAdapter
}
