@page "/PrimaryDataPage"
@using HCMIS.Pages.EmployeeDisplinary
@using HCMIS.Data
@using HCMIS.Model
@using System.Text.Json
@using HCMIS.ViewModel
@using System.Collections


<style>
   /*  .e-dialog .e-btn .e-btn-icon.e-icon-dlg-close 
    {
        font-size: 14px;
        width: 12px;
        float: left;
    } */

    /*Remove background on primary data forms*/
    .e-dlg-overlay {
    background-color: none;
    background: none;
    }

    .e-popup.e-popup-open.e-dialog {
        min-width: 70%;
    }

    /*My Accordions Styles*/

    /*Accordion Colors*/
    .e-accordion {
        border-radius: 6px 6px 6px 6px;
        border: none !important;
    }

        /* header custom css*/
        .e-accordion .e-acrdn-item .e-acrdn-header {
            background-color: rgb(0, 204, 0);
            border-radius: 6px 6px 6px 6px;
        }

            /*header on hover custom css*/
            .e-accordion .e-acrdn-item .e-acrdn-header:hover {
                background-color: rgb(0, 204, 0);
            }

        /*header on selected and expanded custom css*/
        .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header {
            background: rgb(0, 204, 0);
        }

        .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header {
            background: rgb(0, 204, 0);
        }

        .e-accordion .e-acrdn-item.e-expand-state.e-select:not(.e-selected) > .e-acrdn-header:focus {
            background: rgb(0, 204, 0);
        }

        /*content custom css*/
        .e-accordion .e-acrdn-item .e-acrdn-panel .e-acrdn-content {
            background-color: whitesmoke;
            border-radius: 6px 6px 6px 6px;
        }

        /*to remove the white line*/
        .e-accordion .e-acrdn-item.e-select {
            border-bottom: 1px solid white !important;
            border-top: 1px solid white !important;
        }
        /*to change the accordion header color*/
        .e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content {
            color: darkred;
        }
    /*My Accordion Styles*/

</style>

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="color: brown;">
        <strong>
            <img src="/Image/logonhcc.png" width="40" height="25" /> HCMIS
        </strong>| Primary Data22
    </li>
</ol>

<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text="Administrative Units (Districts,Subcounties,Parishes,Villages)">
        <MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text="Districts" Icon="@Icons.Material.Filled.Build">
                <MudText>
                    <DistrictPage />
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Subcounties" Icon="@Icons.Material.Filled.Api">
                <MudText>
                    <SubcountyPage />
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Parishes" Icon="@Icons.Material.Filled.Settings">
                <MudText>
                    <ParishPage />
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Villages" Icon="@Icons.Material.Filled.BugReport">
                <MudText>
                    <VillagePage />
                </MudText>
            </MudTabPanel>
        </MudTabs>
    </MudExpansionPanel>
    <MudExpansionPanel Text="A-C">
        <MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            
            <MudTabPanel Text="Banks" Icon="@Icons.Material.Filled.Build">
                <MudText>
                    <BankPage />
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Basic Unit" Icon="@Icons.Material.Filled.Api">
                <MudText>
                    <MeasurementUnitPage />
                </MudText>
            </MudTabPanel>
            
        </MudTabs>
    </MudExpansionPanel>

    <MudExpansionPanel Text="D-F">
        <MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text="Displinary Action" Icon="@Icons.Material.Filled.Build">
                <MudText>
                    <DepartmentPage/>
                </MudText>
                <MudText>
                    @* <DisplinaryActionPage/> *@
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Displinary Case Status" Icon="@Icons.Material.Filled.Api">
                <MudText>
                    @* <DisplinaryCaseStatusPage /> *@
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Case Categories" Icon="@Icons.Material.Filled.Settings">
                <MudText>
                    @* <DisplinaryCategoryPage /> *@
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Displinary Incidences" Icon="@Icons.Material.Filled.BugReport">
                <MudText>
                    @* <DisplinaryIncidencesPage /> *@
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Financial Year" Icon="@Icons.Material.Filled.BugReport">
                <MudText>
                    <FinancialYearPage />
                </MudText>
            </MudTabPanel>
        </MudTabs>
    </MudExpansionPanel>
    
    <MudExpansionPanel Text="G-I">
        <MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            @* <MudTabPanel Text="." Icon="@Icons.Material.Filled.Build">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.Api">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.Settings">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.BugReport">
                <MudText>

                </MudText>
            </MudTabPanel> *@
        </MudTabs>
    </MudExpansionPanel>
    
    <MudExpansionPanel Text="J-L">
        <MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">

            @* <MudTabPanel Text="Job Title" Icon="@Icons.Material.Filled.Api">
                <MudText>
                    
                </MudText>
            </MudTabPanel> *@

            <MudTabPanel Text="Leave Roaster Deadline" Icon="@Icons.Material.Filled.Build">
                <MudText>
                    <LeaveRoasterDeadlineDatePage />
                </MudText>
            </MudTabPanel>

            @*
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.Settings">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.BugReport">
                <MudText>

                </MudText>
            </MudTabPanel> *@
        </MudTabs>
    </MudExpansionPanel>
    
    <MudExpansionPanel Text="M-O">
        <MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text="Maximum Year" Icon="@Icons.Material.Filled.Build">
                <MudText>
                    <MaximumYearPage/>
                </MudText>
            </MudTabPanel>
            
        </MudTabs>
    </MudExpansionPanel>
    <MudExpansionPanel Text="P-R">
        <MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text="Position" Icon="@Icons.Material.Filled.Api">
                <MudText>
                    <PositionPage />
                </MudText>
            </MudTabPanel>

            <MudTabPanel Text="Public Holidays" Icon="@Icons.Material.Filled.Build">
                <MudText>
                    <PublicHolidaysPage />
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Relationship" Icon="@Icons.Material.Filled.Api">
                <MudText>
                    <RelationshipPage />
                </MudText>
            </MudTabPanel>
            
        </MudTabs>
    </MudExpansionPanel>
    <MudExpansionPanel Text="S-U">
        <MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text="Sections" Icon="@Icons.Material.Filled.Build">
                <MudText>
                    <SectionsPage/>
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Training Evaluation" Icon="@Icons.Material.Filled.Api">
                <MudText>
                    <HCMIS.Pages.Training.TrainingEvaluationFormPage />
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="Training Survey Deadline" Icon="@Icons.Material.Filled.Api">
                <MudText>
                    <HCMIS.Pages.Training.SurveyDeadlinePage/>
                </MudText>
            </MudTabPanel>
            
        </MudTabs>
    </MudExpansionPanel>
    <MudExpansionPanel Text="V-X">
        <MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            @* <MudTabPanel Text=".">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text=".">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text=".">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text=".">
                <MudText>

                </MudText>
            </MudTabPanel> *@
        </MudTabs><MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                           ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.Build">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.Api">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.Settings">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.BugReport">
                <MudText>

                </MudText>
            </MudTabPanel>
        </MudTabs>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Y-Z">
        <MudTabs Outlined="true" Position="@MudBlazor.Position.Left" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.Build">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.Api">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.Settings">
                <MudText>

                </MudText>
            </MudTabPanel>
            <MudTabPanel Text="." Icon="@Icons.Material.Filled.BugReport">
                <MudText>

                </MudText>
            </MudTabPanel>
        </MudTabs>
    </MudExpansionPanel>
</MudExpansionPanels>

@code {

}
