@page "/MapsPage"
@* Stack Overflow Sample *@
@* https://stackoverflow.com/questions/65297439/blazor-arcgis-configuration *@

@* Adding Maps to Blazor with GeoBlazor *@
@* https://www.youtube.com/watch?v=BqJevqHVPEs *@

@* Creating ArcGIS Web Mapping Apps in C# Using Blazor - JavaScript Required *@
@* https://blog.dymaptic.com/creating-arcgis-web-mapping-apps-in-c-using-blazor *@

@* ArcGIS in Asp.NET Blazor – No JavaScript Required! *@
@* https://blog.dymaptic.com/arcgis-in-asp-net-blazor-no-javascript-required *@


@using dymaptic.GeoBlazor.Core.Components
@using dymaptic.GeoBlazor.Core.Components.Geometries
@using dymaptic.GeoBlazor.Core.Components.Layers
@using dymaptic.GeoBlazor.Core.Components.Popups
@using dymaptic.GeoBlazor.Core.Components.Symbols
@using dymaptic.GeoBlazor.Core.Components.Views
@using dymaptic.GeoBlazor.Core.Objects

<h3>Map</h3>


<MapView Longitude="_longitude" Latitude="_latitude" Zoom="11" Style="height: 400px; width: 100%;">
    <Map ArcGISDefaultBasemap="arcgis-topographic">
        <GraphicsLayer>
            <Graphic>
                <Point Longitude="_longitude" Latitude="_latitude"/>
                <SimpleMarkerSymbol Color="@(new MapColor(226, 119, 40))">
                    <Outline Color="@(new MapColor(255, 255, 255))" Width="1"/>
                </SimpleMarkerSymbol>
            </Graphic>
            <Graphic>
                <PolyLine Paths="@(new[] { _mapPath })" />
                <SimpleLineSymbol Color="@(new MapColor(226, 119, 40))" Width="2"/>
            </Graphic>
            <Graphic>
                <Polygon Rings="@(new[] { _mapRings })" />
                <SimpleFillSymbol Color="@(new MapColor(227, 139, 79, 0.8))">
                    <Outline Color="@(new MapColor(255, 255, 255))" Width="1"/>
                </SimpleFillSymbol>
                <Attributes Name="This is a Title" Description="And a Description"/>
                <PopupTemplate Title="{Name}" StringContent="{Description}"/>
            </Graphic>
        </GraphicsLayer>
    </Map>
</MapView>

@code
{
    private readonly double _latitude = 34.027;
    private readonly double _longitude = -118.805;

    private readonly MapPath _mapPath = new(new MapPoint(-118.821527826096, 34.0139576938577),
        new MapPoint(-118.814893761649, 34.0080602407843),
        new MapPoint(-118.808878330345, 34.0016642996246));

    private readonly MapPath _mapRings = new(new MapPoint(-118.818984489994, 34.0137559967283),
        new MapPoint(-118.806796597377, 34.0215816298725),
        new MapPoint(-118.791432890735, 34.0163883241613),
        new MapPoint(-118.79596686535, 34.008564864635),
        new MapPoint(-118.808558110679, 34.0035027131376));
}

@* @page "/MapsPage"
@inject IJSRuntime JS
@using Microsoft.JSInterop


<h3>Map</h3>

<div id="viewDiv" style="padding: 0; margin: 0; height: 1000px; width: 100%"></div>

@code {


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeMap", null);

            StateHasChanged();
        }

    }
} *@