@using HCMIS.Data;
@using HCMIS.SHARED.Models;

@inject IToastService toastService;

<div class="form-row">
    <div class="form-group col-md-12">
        <div class="form-group col-md-12">
            <EditForm Model="@searchpanel" OnValidSubmit="@OnLoadRecords">
                <DataAnnotationsValidator />
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <p>Year</p>
                        <SfMultiSelect @bind-Value="@searchpanel.YearId"
                                       TValue="int?[]" TItem="AYears"
                                       AllowFiltering="true"
                                       FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                       Mode="@VisualMode.CheckBox"
                                       DataSource="@YearData"
                                       ShowSelectAll="true"
                                       EnableSelectionOrder="true"
                                       ShowDropDownIcon="true"
                                       FilterBarPlaceholder="Year"
                                       FloatLabelType="FloatLabelType.Never" PopupHeight="350px">
                            <MultiSelectFieldSettings Value="@nameof(AYears.YearId)"
                                                      Text="@nameof(AYears.YearDesc)">
                            </MultiSelectFieldSettings>
                        </SfMultiSelect>
                    </div>

                    <div class="col-md-6">
                        <p>Financial Year</p>
                        <SfMultiSelect @bind-Value="@searchpanel.FinancialYearId"
                                       TValue="int?[]" TItem="AFinancialYear"
                                       AllowFiltering="true"
                                       FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                       Mode="@VisualMode.CheckBox"
                                       DataSource="@FinancialYearData"
                                       ShowSelectAll="true"
                                       EnableSelectionOrder="true"
                                       ShowDropDownIcon="true"
                                       FilterBarPlaceholder="Year"
                                       FloatLabelType="FloatLabelType.Never" PopupHeight="350px">
                            <MultiSelectFieldSettings Value="@nameof(AFinancialYear.Id)"
                                                      Text="@nameof(AFinancialYear.FinancialYear)">
                            </MultiSelectFieldSettings>
                        </SfMultiSelect>
                    </div>

                    <div class="col col-md-12" style="margin-top:20px">
                        <button class="btn btn-success" data-ripple="true" style="margin-right:10px;">Load Records</button>
                        <button @onclick="@ClearSearchBtnClick" class="btn btn-danger" data-ripple="true" style="margin-right:10px;">Clear Search</button>
                    </div>
                </div>
                <ValidationSummary />
            </EditForm>
        </div>
    </div>
</div>

@code {

    public AppraisalSearch searchpanel { get; set; } = new AppraisalSearch();
    [Parameter]
    public List<AYears>? YearData { get; set; }
    [Parameter]
    public List<AFinancialYear>? FinancialYearData { get; set; }

    public Query MainQuery = new Query();
    [Parameter]
    public EventCallback<Query?> onsearchtoggle { get; set; }
    [Parameter]
    public int? finyearid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            List<int?> _finyearid = new List<int?>();
            _finyearid.Add(finyearid);
            searchpanel.YearId = _finyearid.ToArray();
        }
        catch (Exception ex)
        {

        }
    }

    private async void OnLoadRecords()
    {
        try
        {
            string _YearId = null;
            if (searchpanel.YearId != null)
            {
                _YearId = string.Join(",", searchpanel.YearId);
            }

            MainQuery = new Query()
            .AddParams("YearId", _YearId);
            await onsearchtoggle.InvokeAsync(MainQuery);

        }
        catch (Exception ex)
        {
            toastService.ShowWarning(ex.Message.ToString());
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async void ClearSearchBtnClick()
    {
        try
        {
            searchpanel = new AppraisalSearch();
            MainQuery = new Query();
            await onsearchtoggle.InvokeAsync(MainQuery);
        }
        catch (Exception ex)
        {
            throw ex;
        }
        finally
        {
            StateHasChanged();
        }
    }

}

