@using HCMIS.DTOs;
@*<h3>ApplicantHeaderPartialPage</h3>*@

<div class="col-md-12">
    <h3>Job Description</h3>
</div>
<div class="col-md-4">
    <label>Reference No</label>
    <p>@HeaderReviewData.JobReferenceNo</p>
</div>
<div class="col-md-4">
    <label>Department</label>
    @* <p>@HeaderReviewData.DepartmentDescription</p> *@
</div>
<div class="col-md-4">
    <label>Job Title</label>
    @* <p>@HeaderReviewData.JobTitleDescription</p> *@
</div>
<div class="col-md-12">
    <label>Job Description</label>
    @* @((MarkupString)@HeaderReviewData.JobDescription) *@
</div>
<div class="col-md-4">
    <label>Salary Scale</label>
    @* <p>@HeaderReviewData.SalaryScaleDescription</p> *@
</div>
<div class="col-md-4">
    <label>Job Type</label>
    @* <p>@HeaderReviewData.TypeDescription</p> *@
</div>
@* @if (HeaderReviewData.JobTypeId == 3)
{
    <div class="col-md-4">
        <label>Contract Length</label>
        <p>@HeaderReviewData.ContractLength @HeaderReviewData.ContractLengthTypeDesc</p>
    </div>
    <div class="col-md-4">
        <label>Contract Start Date</label>
        @if (@HeaderReviewData.ContractStartDate.HasValue)
        {
            <p>@HeaderReviewData.ContractStartDate.Value.ToString("dd/MM/yyyy")</p>
        }
    </div>
    <div class="col-md-4">
        <label>Contract End Date</label>
        @if (@HeaderReviewData.ContractEnddate.HasValue)
        {
            <p>@HeaderReviewData.ContractEnddate.Value.ToString("dd/MM/yyyy")</p>
        }
    </div>
} *@
<div class="col-md-4">
    <label>No of Vacancies</label>
    @* <p>@HeaderReviewData.vacancies</p> *@
</div>
<div class="col-md-4">
    <label>Minimum Level of Education</label>
    @* <p>@HeaderReviewData.MinimumLevelofEducationDesc</p> *@
</div>
<div class="col-md-4">
    <label>Minimum Years of Experience</label>
    <p>@HeaderReviewData.MinimumYearsofExperience</p>
</div>
<div class="col-md-12">
    <h3>Applicant's Details</h3>
</div>
<div class="col-md-4">
    <label>Name</label>
    @* <p>@HeaderReviewData.FullName</p> *@
</div>
<div class="col-md-4">
    <label>Gender</label>
    @* <p>@HeaderReviewData.GenderDesc</p> *@
</div>
<div class="col-md-4">
    <label>Nationality</label>
    @* <p>@HeaderReviewData.CountryDesc</p> *@
</div>
<div class="col-md-4">
    <label>Date of birth</label>
    @* @if (HeaderReviewData.DoB.HasValue)
    {
        <p>@HeaderReviewData.DoB.Value.ToString("dd/MM/yyyy")</p>
    } *@
</div>
<div class="col-md-4">
    <label>Marital Status</label>
    @* <p>@HeaderReviewData.MaritalStatusDescription</p> *@
</div>
<div class="col-md-4">
    <label>Official Email</label>
    @* <p>@HeaderReviewData.EmailAddress</p> *@
</div>
<div class="col-md-4">
    <label>Identification Type</label>
    @* <p>@HeaderReviewData.IdentificationTypeDesc</p> *@
</div>
<div class="col-md-4">
    <label>Identification Number</label>
    @* <p>@HeaderReviewData.IdentificationNumber</p> *@
</div>
<div class="col-md-4">
    <label>Mobile Number</label>
    @* <p>@HeaderReviewData.OfficialPhoneNumber</p> *@
</div>
<div class="col-md-4">
    <label>Other Mobile Number</label>
    @* <p>@HeaderReviewData.MobileNumber</p> *@
</div>
<div class="col-md-12">
    <h4>Place of Origin</h4>
</div>
<div class="col-md-4">
    <label>District</label>
    @* <p>@HeaderReviewData.PlaceofOriginDistrictDesc</p> *@
</div>
<div class="col-md-4">
    <label>Sub county</label>
    @* <p>@HeaderReviewData.PlaceofOriginSubCountyDesc</p> *@
</div>
<div class="col-md-4">
    <label>Parish</label>
    @* <p>@HeaderReviewData.PlaceofOriginParishDesc</p> *@
</div>
<div class="col-md-4">
    <label>Village</label>
    @* <p>@HeaderReviewData.PlaceofOriginVillageDesc</p> *@
</div>
<div class="col-md-12">
    <h4>Place of Residence</h4>
</div>
<div class="col-md-4">
    <label>District</label>
    @* <p>@HeaderReviewData.PlaceofResidenceDistrictDesc</p> *@
</div>
<div class="col-md-4">
    <label>Sub county</label>
    @* <p>@HeaderReviewData.PlaceofResidenceSubCountyDesc</p> *@
</div>
<div class="col-md-4">
    <label>Parish</label>
    @* <p>@HeaderReviewData.PlaceofResidenceParishDesc</p> *@
</div>
<div class="col-md-4">
    <label>Village</label>
    @* <p>@HeaderReviewData.PlaceofResidenceVillageDesc</p> *@
</div>
@if (ShowAptituddeTestResults == true)
{
    <div class="col-md-12">
        <h4>Aptitudde Test Results</h4>
    </div>
    <div class="col-md-4">
        <label>Passmark</label>
        @if (HeaderReviewData.AptituddeTestPassMark.HasValue)
        {
            <p>@HeaderReviewData.AptituddeTestPassMark.Value.ToString("N1")</p>
        }
       
    </div>
    <div class="col-md-4">
        <label>Test Results</label>
        @if(HeaderReviewData.AptituddeTestApplicantScore.HasValue)
        {
            <p>@HeaderReviewData.AptituddeTestApplicantScore.Value.ToString("N1")</p>
        }
    </div>
}

@code {
    [Parameter]
    public AppliedForJobs? HeaderReviewData { get; set; }
    [Parameter]
    public bool ShowAptituddeTestResults { get; set; }
}
