@using HCMIS.SHARED.Models;
@*<h3>RefereesPartialPage</h3>*@
<div class="row">
    <div class="col-lg-12 control-section">
        <SfToast @ref="ToastObj" ID="toast_type">
            <ToastPosition X="@ToastPosition"></ToastPosition>
        </SfToast>
    </div>
</div>
@if (OndataLoad == true)
{
    if (JobRefereesData != null && JobRefereesData.Count > 0)
    {
        <div class="row">
            @foreach (var item in JobRefereesData)
            {
                <div class="col-md-6">
                    <p><b>Name: </b> @item.RefereeName</p>
                    <p>
                        <b>Nationality: </b>
                        @if (CountryData != null)
                        {
                            var a = CountryData.FirstOrDefault(o => o.CoutryId == item.CoutryId);
                            if(a!= null)
                            {
                                <span>@a.CountryDesc</span>
                            }
                        }
                    </p>
                    <p><b>Title: </b> @item.RefereeJobTitle</p>
                    <p><b>Organisation: </b> @item.RefereeCompany</p>
                    <p><b>Email: </b> @item.RefereeEmail</p>

                    <p>
                        <b>Phone Number: </b>
                        @if (CountryData != null)
                        {
                            var a = CountryData.FirstOrDefault(o => o.CoutryId == item.CoutryId);
                            if (a != null)
                            {
                                <span>@a.CountryCode@item.RefereePhoneNumber</span>
                            }
                        }
                        
                    </p>

                    <p>
                        <b>Other Phone Number: </b>
                        @if (CountryData != null)
                        {
                            var a = CountryData.FirstOrDefault(o => o.CoutryId == item.OtherCoutryId);
                            if (a != null)
                            {
                                <span>@a.CountryCode@@item.RefereeOtherPhoneNumber</span>
                            }
                        }
                    </p>
                    <hr />
                </div>
            }
        </div>
    }
    else
    {
        <p class="alert-info">There is no data to display</p>
    }
}
else
{
    <div class="col-md-12">
        <div class="loader">
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--text"></div>
        </div>
    </div>
}
@code {
    #region Toasters
    public static string? ToastContent { get; set; }
    SfToast? ToastObj;
    SfToast? DeleteToastObj;
    private string ToastPosition = "Right";
    private int AlarmTimeout { get; set; } = 120000;
    private List<ToastModel> Toast = new List<ToastModel>
        {
            new ToastModel{ Title = "Warning!", Content=ToastContent, CssClass="e-toast-warning", Icon="e-warning toast-icons" },
            new ToastModel{ Title = "Success!", Content=ToastContent, CssClass="e-toast-success", Icon="e-success toast-icons" },
            new ToastModel{ Title = "Error!", Content=ToastContent, CssClass="e-toast-danger", Icon="e-error toast-icons" },
            new ToastModel{ Title = "Information!", Content=ToastContent, CssClass="e-toast-info", Icon="e-info toast-icons" }
        };
    #endregion Toasters
    [Parameter]
    public List<ApplicationAppliedForJobReferees>? JobRefereesData { get; set; }
    [Parameter]
    public List<ACountry>? CountryData { get; set; }
    private bool OndataLoad { get; set; } = false;
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        OndataLoad = true;
    }
}
